{% extends "../../user-base.html" %}
{% block body %}
{% load static %}
<div class="page">
    <h1>家事代行の検索結果<em> 60</em> 件 あります</h1>
    <table>
        <tbody>
            <tr>
                <th>詳細ジャンル</th>
                <td>　<em class="selectone">すべて</em>　|　水回り　|　部屋掃除　|　ジャンルの詳細を選択する</td>
            </tr>
            <tr>
                <th>エリア</th>
                <td>　<em class="selectone">すべて</em>　|　東京　|　北海道　|　エリアを選択する</td>
            </tr>
            <tr>
                <th>日付</th>
                <td>　<em class="selectone">日付未定</em>　|　4月10日　|　4月11日　|　日付を選択する</td>
            </tr>
            <tr>
                <th>開始時刻</th>
                <td class="time">
                    <select name="time">
                        <option value="">-</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="0">0</option>
                    </select>時 〜           
                    <select name="time">
                        <option value="">-</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="0">0</option>
                    </select>時で開始時刻を選択
                </td>
            </tr>
            <tr>
                <th>メニュー料金</th>
                <td>　メニュー料金を選択する </td>
            </tr>
        </tbody>
    </table>
    <div class="sortflex">
        <a class="thisPage" href="{% url 'search' %}">標準</a>
        <a class="notPage" href="../search-result/recommend.html">おすすめ順</a>
        <a class="notPage" href="../search-result/{% url 'review' %}">口コミが高い順</a>
        <a class="notPage" href="../search-result/cheap.html">料金が安い順</a>
        <a class="notPage" href="../search-result/high.html">料金が高い順</a>
    </div>
    <h1>
        家事代行の絞り込み検索結果<em class="suuti"> 40</em> 件 あります
        <a href="#" class="page-separate">1/10ページ</a>
        <a href="#" class="page-next">次へ</a>
    </h1>
    <div class="company-box">
        <div class="company-top">
            <span class="left">
                <p>渋谷　>　道玄坂・明治通り</p>
                <a href="{% url 'enterprise' %}">Casy 【カジー】</a>
                <div>
                    <p class="point">即時予約OK!</p>
                    <p class="point1">ポイント加盟店</p>
                    <p class="point2">メンズにもオススメ</p>
                </div>
            </span>
            <span class="right">
                <form action="{% url 'fav' Company_data.pk %}" method="post">
                    <div class="buttonbox">
                        <button class="favorite"><i class="far fa-heart"></i>  お気に入り</button>
                    </div>
                    {% csrf_token %}
                </form>
            </span>
        </div>
        <div class="company-next">
            <div class="image">
                <img src="{% static 'picture/horikita.jpg' %}">
                <div class="image1">
                    <img src="{% static 'picture/kazi.png' %}">
                    <img src="{% static 'picture/ikuzi.jpg' %}">
                </div>
            </div>
            <div class="company-explain">
                <p class="heading">【乾かすだけでキマる】×【無駄にお金は使わせない】必要最低限のメニューで最高のhairを追求する実力派★</p>
                <div class="information">
                    <div class="information-a">
                        <p><i class="fas fa-yen-sign"></i>  料金<a href="{% url 'plan' %}">¥2,500〜</a></p>
                        <p><i class="fas fa-comments"></i>  口コミ<a href="{% url 'review' %}">20件</a></p>
                    </div>
                    <div class="information-b">
                        <p><i class="fas fa-th"></i>  ブログ<a href="{% url 'blog' %}">10件</a></p>
                        <p><i class="fas fa-user"></i>  スタッフ<a href="{% url 'staff' %}">10件</a></p>
                    </div>
                    <div>
                        <a href="{% url 'enterprise' %}"><button class="pinkButton">会社詳細へ</button></a>
                    </div>
                </div>
                <p class="heading2">【乾かすだけでキマる】にこだわり【本当に必要なメニュー】を見極め【無駄にお金は使わせない】本格派サロン。モダンで落ち着いた空間が心地良さを演<a href="{% url 'enterprise' %}" class="allnext1">...続きを読む</a></p>
                <p class="evaluation-all"><i class="far fa-star"></i>　総合　<em class="star">★ ★ ★ ★</em></p>
                <div class="evaluation">
                    <div class="evaluation-a">
                        <p><i class="fas fa-yen-sign"></i>  料金　<em class="star">★ ★ ★</em></p>
                        <p><i class="fas fa-pray"></i>  丁寧　<em class="star">★ ★ ★ ★</em></p>
                    </div>
                    <div class="evaluation-b">
                        <p><i class="fas fa-briefcase"></i>  技術　<em class="star">★ ★</em></p>
                        <p><i class="fas fa-user-friends"></i>  接客　<em class="star">★ ★ ★ ★ ★</em></p>
                    </div>
                    <div>
                        <a href="{% url 'reserve' %}"><button class="pinkButton">予約・日時</button></a>
                    </div>
                </div>
                <div class="planbox">
                    <span>
                        <p>Casy【カジー】のプラン</p>
                        <div>▶<a href="{% url 'plan' %}">　一覧へ</a></div>
                    </span>
                    <p><em>新規</em><a href="{% url 'plan' %}">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！¥1,800〜【水回り掃除+1食】</a></p>
                    <p><em>新規</em><a href="{% url 'plan' %}">【【U22】若ママ応援プラン育児2時間お任せください！¥3,000〜【育児2時間】</a></p>
                    <p><em>新規</em><a href="{% url 'plan' %}">【【学生限定】激安部屋掃除プラン(夕飯付き)！¥2,000〜【部屋掃除+1食】</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="company-box">
        <div class="company-top">
            <span class="left">
                <p>渋谷　>　道玄坂・明治通り</p>
                <a href="{% url 'enterprise' %}">Casy 【カジー】</a>
                <div>
                    <p class="point">即時予約OK!</p>
                    <p class="point1">ポイント加盟店</p>
                    <p class="point2">メンズにもオススメ</p>
                </div>
            </span>
            <span class="right">
                <div class="buttonbox">
                    <button class="favorite"><i class="far fa-heart"></i>  お気に入り</button>
                </div>
            </span>
        </div>
        <div class="company-next">
            <div class="image">
                <img src="{% static 'picture/horikita.jpg' %}">
                <div class="image1">
                    <img src="{% static 'picture/kazi.png' %}">
                    <img src="{% static 'picture/ikuzi.jpg' %}">
                </div>
            </div>
            <div class="company-explain">
                <p class="heading">【乾かすだけでキマる】×【無駄にお金は使わせない】必要最低限のメニューで最高のhairを追求する実力派★</p>
                <div class="information">
                    <div class="information-a">
                        <p><i class="fas fa-yen-sign"></i>  料金<a href="{% url 'plan' %}">¥2,500〜</a></p>
                        <p><i class="fas fa-comments"></i>  口コミ<a href="{% url 'review' %}">20件</a></p>
                    </div>
                    <div class="information-b">
                        <p><i class="fas fa-th"></i>  ブログ<a href="{% url 'blog' %}">10件</a></p>
                        <p><i class="fas fa-user"></i>  スタッフ<a href="{% url 'staff' %}">10件</a></p>
                    </div>
                    <div>
                        <a href="{% url 'enterprise' %}"><button class="pinkButton">会社詳細へ</button></a>
                    </div>
                </div>
                <p class="heading2">【乾かすだけでキマる】にこだわり【本当に必要なメニュー】を見極め【無駄にお金は使わせない】本格派サロン。モダンで落ち着いた空間が心地良さを演<a href="{% url 'enterprise' %}" class="allnext1">...続きを読む</a></p>
                <p class="evaluation-all"><i class="far fa-star"></i>　総合　<em class="star">★ ★ ★ ★</em></p>
                <div class="evaluation">
                    <div class="evaluation-a">
                        <p><i class="fas fa-yen-sign"></i>  料金　<em class="star">★ ★ ★</em></p>
                        <p><i class="fas fa-pray"></i>  丁寧　<em class="star">★ ★ ★ ★</em></p>
                    </div>
                    <div class="evaluation-b">
                        <p><i class="fas fa-briefcase"></i>  技術　<em class="star">★ ★</em></p>
                        <p><i class="fas fa-user-friends"></i>  接客　<em class="star">★ ★ ★ ★ ★</em></p>
                    </div>
                    <div>
                        <a href="{% url 'reserve' %}"><button class="pinkButton">予約・日時</button></a>
                    </div>
                </div>
                <div class="planbox">
                    <span>
                        <p>Casy【カジー】のプラン</p>
                        <div>▶<a href="{% url 'plan' %}">　一覧へ</a></div>
                    </span>
                    <p><em>新規</em><a href="{% url 'plan' %}">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！¥1,800〜【水回り掃除+1食】</a></p>
                    <p><em>新規</em><a href="{% url 'plan' %}">【【U22】若ママ応援プラン育児2時間お任せください！¥3,000〜【育児2時間】</a></p>
                    <p><em>新規</em><a href="{% url 'plan' %}">【【学生限定】激安部屋掃除プラン(夕飯付き)！¥2,000〜【部屋掃除+1食】</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}