body{
  margin:0px;
  background-color:rgb(255, 255, 255);
  /* background-image: url("mori.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center 130px; */
  /* background-repeat: no-repeat;  */
}
header{
  width:100%;
  background-color:rgb(17, 17, 51);
}



a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}
a:hover{
  color:rgb(197, 196, 196);
}
.logo{
  width:100%;
  height:auto;
  padding-top:30px;
  padding-bottom:30px;
  display:flex;
  justify-content: flex-end;
}
.logo0{
  margin-right:1%;
  margin-left:60%;
}
.logo00{
  margin-right:5%;
}
.daico{
  width:194px;
  height:56px;
  padding-top:10px;
}
.top-logo{
  font-size: 30px;
  height:66px;
}
.login{
  color:white;
  background-color: rgb(255, 187, 0);
  font-size: 15px;
  /* margin-top:40px; */
  margin-right:10px;
  float: right;
  text-align:center;
  cursor:pointer;
  border-radius:10%;
  padding:2.5px 5px;
}
.login:hover{
  background-color:rgb(253, 219, 123);
  color:gray;
}
.login2{
  color:white;
  background-color: rgb(48, 182, 245);
  font-size: 15px;
  /* margin-top:40px; */
  float: right;
  text-align:center;
  border-radius:10%;
  padding:2.5px 5px;
}
.login2:hover{
  background-color:rgb(146, 217, 250);
  color:gray;
}
.template{
  width:100%;
  background-color:rgb(17, 17, 51);
  display: flex;
  justify-content: center;
}
.template #menu{
  list-style: none;
  height: auto;
  padding-bottom:30px;
  padding-top: 0px;
  /* border-top: solid 1px #000; */
  /* border-bottom: solid 1px #000; */
  padding-left:0;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}
.just{
  width:200px;
  margin:0 1%;
  text-align:center;
}
/* .just{
  padding-left:2% !important;
}
.just0{
  padding-left:0% !important;
}
.just2{
  padding-left:2% !important;
} */
.just3{
  padding-bottom:20px;
}
.home{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-right:0;
  padding-left:0;
  font-weight:bold;
  border-bottom:3px solid white;
}
.favorite{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight:bold;
}
.order-history{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight:bold;
}
.notice{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight:bold;
}
.my-page{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight:bold;
}
.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}




.genre{
  border: 1px solid black;
  width:100%;
  background-color:rgb(236, 232, 226);
  margin:20px auto;
}







.step{
  list-style-type: none;
  display:table;
  width:100%;
  padding:0;
  margin:0 auto;
  overflow:hidden;
  border:1px solid rgb(17, 17, 51);
}
.step li{
  display:table-cell;
  position:relative;
  background: rgb(17, 17, 51);
  padding: 1em 0.5em 1em 2em;
  color: #fff;
}
.step li:last-child{
  padding-right: 1em;
}
.step li:last-child:before,
.step li:last-child:after{
  display:none;
}
.step li:before,
.step li:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
}
.step li:before{
  top:-15px;
  right:-1em;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.step li:after{
  top:-15px;
  right:-.8em;
  border-style: solid;
  border-color: transparent transparent transparent rgb(17, 17, 51);
  border-width: 40px 0 40px 1em;
  z-index: 10;
}
.step li.is-current{
  background: #ffb619;
  font-weight: bold;
}
.step li.is-current:after{
  border-color: transparent transparent transparent #ffb619;
}
a{
  color: white;
  text-decoration: none;
}

.name{
  width:100%;
  height:100px;
  margin: 10px auto;
  margin-bottom:0;
  border: solid 1px black;
  background-color:rgb(50, 122, 182);
  font-size:25px;
  font-weight:bold;
}
img{
  width:120px;
  height:90px;
  margin: 10px 20px;
}


#casy{
  width:40%;
  margin:0 auto;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 15px;
  font-weight:bold;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: #FFAAFF;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
  background-color: plum;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.styled{
  position:absolute;
  right:10px;
  top:-13px;
  outline:none;
}
.plan{
  width:100%;
  position:relative;
}










.flex{
  width:50%;
  margin:30px auto 0 auto;;
  display:flex;
  flex-wrap: wrap;
}
.sort{
  width:13%;
  height:22px;
  background-color:rgb(238, 230, 196);
  border:3px solid gray;
  padding-left:10px;
}
.result{
  width:15%;
  height:25px;
  background-color:rgba(0,0,0,0.5);
  text-align:center;
  color:white;
  margin-left:100px;
}

.button{
  font-size:10px;
  margin-left:30px;
}


.sort1{
  width:20%;
  height:auto;
  padding-bottom:20px;
  background-color:white;
  border:3px solid gray;
  text-align:left;
  color:black;
}
.genre{
  margin:0;
  padding-left:10px;
  padding-top:5px;
  font-size:15px;
  background-color:rgb(238, 230, 196);
  border-bottom:3px solid gray;
}
.genre1{
  margin:0;
  padding-left:20px;
  padding-top:10px;
  font-size:15px;
}
.genre2{
  margin:0;
  margin-left:30px;
  margin-right:10px;
  padding-left:5px;
  font-size:15px;
  border:1px solid gray;
}
.sibo{
  margin-left:38px;
  font-size:12px;
  color:blue;
}
.sibo1{
  margin-left:47px;
  font-size:12px;
  color:blue;
}
.sibo2{
  margin-left:34px;
  font-size:12px;
  color:blue;
}
.sibo3{
  margin-left:57px;
  font-size:12px;
  color:blue;
}
.sibo4{
  margin-left:38px;
  font-size:12px;
  color:blue;
}
.flex1{
  width:50%;
  margin:10px auto;
  border:3px solid gray;
}
.last{
  width:100%;
}
.toy{
  width:150px;
  margin:5px 10px;
  height:70px;
}
.name{
  background-color:rgb(50, 122, 182);
  color:white;
  font-weight:bold;
  height:80px;
  display:flex;
}
.name1{
  margin:0;
  padding-top:23px;
  padding-left:15px;
  font-weight:bold;
  font-size:22px;
}
.name8{
  margin:0;
  padding-top:23px;
  padding-left:15px;
  font-weight:bold;
  font-size:20px;
  margin-left:70%;
}
.heart{
  color:rgb(206, 5, 5);
  font-size:30px;
  float:right;
  border:none;
  background:none;
  outline:none;
  margin-left:60%;
}
.heart.active{
  color:white;
  font-size:30px;
  float:right;
  border:none;
  background:none;
  outline:none;
}
.info{
  width:100%;
  background-color:white;
  display:flex;
  flex-direction:column;
}
.info1{
  width:100%;
  height:auto;
  background-color:white;
  display:flex;
  padding-top:20px;
}
.syousai{
  display:flex;
  flex-direction:column;
}
.plan{
  width:100%;
  height:40px;
  background-color: white;
  text-align:center;
}
.styled{
  width:150px;
  height:50px;
  font-size: 15px;
  font-weight:bold;
  text-align: center;
  color:#fff;
  background-color: #FFAAFF;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  outline:none;
  cursor: pointer;
  margin-top:5px;
}
.styled:hover {
  background-color: plum;
}
.em{
  padding-left:20px;
}
.part{
  display:flex;
  flex-direction:column;
  margin-left:10%;
  margin-top:3%;
  width:10%
}
.money{
  text-align:left;
  padding-left:20px;
}
.mouse{
  text-align: left;
  padding-left:16px;
}
.blog{
  text-align: left;
  padding-left:16px;
}
.yen{
  color:blue;
  padding-left:70px;
}
.kuti{
  color:blue;
  padding-left:70px;
}
.te{
  color:blue;
  padding-left:70px;
}
.daimei{
  width:50%;
  margin:10px auto;
}
.faa{
  width:15%;
  text-align:center;
  background-color:rgba(0,0,0,0.7);
  color:white;
  font-size:20px;
}


.daicomenu{
  width:100%;
}
.daicomenu ul{
  font-size:15px;
  font-weight:bold;
  width:100%;
  padding-left:0;
  align-items: center;
  text-align: center;
  background:none;
}
.li1{
  border-left:1px solid gray;
  color:white;
}
.daicomenu ul li{
  display: inline-block;
  position: relative;
  padding:2px 30px;
  border-right:1px solid gray;
}
.daicomenu ul li a::after,
.daicomenu ul li a::before {
  display: block;
  content: ”;
  position: absolute;
}
.daicomenu ul li a::after {
  top: 10%;
  right: 0;
  width: 13px;
  height: 13px;
  background-color: #ccc;
  border-radius: 100%;
}
.daicomenu ul li a.current::after,
.daicomenu ul li a:hover:after{
  background-color: #3498db;
}
.daicomenu ul li a::before {
  z-index: 2;
  top: 40%;
  right: 5px;
  width: 5px;
  height: 5px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.daicomenu ul li a{
  text-decoration: none;
  color:black;
  display: inline-block;
  width: 100%;
}
.daicomenu ul li a.current{
  color:darkgray;
}
.daicomenu ul li a:hover{
  color:darkgray;
}
.li1{
  border-left:1px solid gray;
}
.lih1{
  color:rgb(216, 76, 162) !important;
}











.flex10{
width:95%;
margin:10px auto;
border:3px solid gray;
}
.three{
  width:95%;
  margin:0 20px 10px;
  border-bottom:2px solid rgb(17, 17, 51);
}
.three1{
  width:100%;
  margin:10px;
  margin-left:20px;
  border-left:3px solid rgb(17, 17, 51);
}
.three2{
  width:95%;
  margin:10px 20px 10px;
  background-color:white;
}
.order1{
  margin-top:0px;
  margin-bottom:5px;
  color:black;
  padding-left:30px;
  padding-top:10px;
  font-weight:bold;
  font-size:13px;
}
.order2{
  margin-top:15px;
  margin-bottom:5px;
  color:rgb(255, 255, 255);
  font-weight:bold;
  padding-left:30px;
  font-weight:bold;
  font-size:13px;
  background-color:rgba(17, 17, 51,0.8);
  padding-top:5px;
  padding-bottom:5px;
}
.now{
  color:black;
  font-weight:bold;
}
.now2{
  color:rgb(187, 83, 83);
  font-weight:bold;
}
.namee{
  height:60px;
  background-color:rgb(238, 238, 238);
  color:black;
  border-bottom:3px solid gray;
  display:flex;
}
.namee0{
  margin:0;
  padding-left:25px;
  padding-top:10px;
  font-size:13px;
  text-align:left;
}
.namee1{
  margin:0;
  padding-left:45px;
  padding-top:10px;
  font-size:13px;
  text-align:left;
}
.namee2{
  margin:0;
  padding-left:275px;
  padding-top:20px;
  font-size:13px;
  text-align:left;
}
.ooo{
  color:blue;
}
.info2{
  width:100%;
  height:175px;
  background-color:white;
  display:flex;
}
.info2:hover{
  background-color:skyblue;
}
.ikuzi{
  padding: 10px 20px;
  width:150px;
  height:100px;
  margin-top:0px;
}
em{
  font-weight: bold;
}
.casi{
  color:blue;
  font-size:14px;
}
.planning{
  color:blue;
  margin:20px 20px;
}
.serihu{
  margin-left:20px;
  font-size:13px;
}
.buton{
  display:flex;
  flex-direction: column;
}
.serihu1{
  font-size:15px;
  margin-bottom:0;
  margin-top:3px;
  color:rgb(97, 73, 30);
  font-weight:bold;
  padding-left:20px;
}
.serihu3{
  font-size:15px;
  margin-bottom:0;
  margin-top:3px;
  color:rgb(236, 174, 2);
  font-weight:bold;
  padding-left:0px;
}
.serihu2{
  color:rgb(228, 137, 0);
  font-size:13px;
  margin-left:20px;
  margin-top:0;
}
.order8{
  margin-left:20px;
  padding-top:3px;
  padding-bottom:3px;
  padding-left:13px;
  padding-right:13px;
  border-radius:10%;
  background-color:rgb(247, 213, 62);
  outline:none;
  font-size:14px;
  cursor: pointer;
  border:1px solid gray;
}
.order8:hover{
  background-color:rgb(255, 245, 198);
}
.buton{
  width:20%;
  margin-left:auto;
  background-color:rgb(5, 96, 172);
}
.buton6{
  width:20%;
  margin-left:auto;
  background-color:rgb(2, 50, 90);
  display:flex;
  flex-direction: column;
}
.buton1{
  width:90%;
  margin:auto 11px auto 11px; 
  border-radius: 5%;
  background-color:rgb(236, 174, 2);
  border:1px solid rgba(17, 17, 51,0.8);
  color:white;
  font-weight:bold;
  padding-top:5px;
  padding-bottom:5px;
  cursor:pointer;
}
.buton1:hover{
  background-color:rgb(255, 222, 132);
  color:gray;
}
.click{
  color:white;
  margin:auto 0;
}
.daimei{
  width:40%;
  margin:10px auto;
  margin-bottom:0;
}
.faa{
  width:15%;
  text-align:center;
  background-color: rgba(17, 17, 51,0.8);
  color:white;
  font-size:20px;
  margin-bottom:10px;
}
.sinki{
  text-align:center;
  background-color:rgb(5, 96, 172);
  border-right:1px solid rgb(17, 17, 51);
  color:white;
  font-weight:bold;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.gene{
  display:flex;
  flex-direction:column;
}
.red{
  width:11%;
  margin: 7px 25px 4px 25px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 11px;
  text-align: center;
  background-color: rgb(236, 174, 2);
  border: 1px solid rgb(17, 17, 51);
  border-radius: 40%;
  color: rgb(255, 255, 255);
  font-weight:bold;
}
.zyouken{
  display:flex;
}
.sinki2{
  text-align:center;
  background-color:rgb(2, 50, 90);
  border-right:1px solid rgb(17, 17, 51);
  color:rgb(255, 249, 249);
  font-weight:bold;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.suuti{
  color:rgb(206, 5, 5);
}
.matome{
  display:flex;
  border:1px solid gray;
}
.menu1{
  padding-left:30px;
  padding-bottom:10px;
  font-size:12px;
}
.menu2{
  padding-left:40%;
}
.menu3{
  width:15%;
  margin-left:auto;
  background-color:rgba(17, 17, 51,0.8);
}
.select{
  font-size:15px;
  font-weight:bold;
  margin-bottom:10px;
  margin-top:10px;
}
.simekiri{
  font-size:12px;
}
.meizi{
  color:rgb(206, 5, 5);
}
.buton2{
  width:90%;
  margin:20px 15px auto 8px;
}
.buton3{
  width:100%;
  margin:auto auto; 
  border-radius: 5%;
  background-color:rgb(236, 174, 2);
  border:1px solid rgba(17, 17, 51,0.8);
  color:white;
  font-weight:bold;
  cursor:pointer;
}
.buton3:hover{
  background-color:rgb(255, 222, 132);
  color:gray;
}




.matome1{
  width:100%;
  background-color:white;
  border:1px solid gray;
}


.namming{
  margin-top:18px;
}






@media screen and (min-width:1024px){
  /* 1024px以上の幅の都合に適応される */
  .homebox{
    display:none;
  }
  .get{
    display:flex;
  }
  .logo0{
    margin-left:0;
  }
  .login2{
    font-size:12px;
    width:130px;
    height:20px;
  }
  .login{
    font-size:12px;
    width:100px;
    height:20px;
  }
  .logo{
    padding-bottom:0;
  }
  .just4{
    display:none;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  /* 768px~1024pxまでの幅の場合に適応される */
  .homebox{
    display:none;
  }
  .get{
    display:flex;
  }
  .logo0{
    margin-left:0;
  }
  .login2{
    font-size:12px;
    width:130px;
    height:20px;
  }
  .login{
    font-size:12px;
    width:100px;
    height:20px;
  }
  .logo{
    padding-bottom:0;
  }
  .just4{
    display:none;
  }
  .just{
    margin:0 0;
    font-size:15px;
  }
  .daico{
    width:140px;
  }
  .setumei{
    width:500px;
  }
  .textbox{
    display:inline-block;
  }
  .sikaku{
    width:140px;
  }
  .searchForm{
    margin:10% auto;
  }
}

@media screen and (max-width: 767px) {
  /* 767pxまでの幅の場合に適応される */
  .logo{
    display:flex;
    justify-content: flex-end;
  }
  .homebox{
    width:150px;
    height:50px;
    margin-right:auto;
    margin-left:3%;
  }
  .homebox1{
    width:100%;
    height:100%;
  }
  .get{
    display:flex;
    flex-direction: column;
  }
  .login2{
    font-size:10px;
    width:111px;
  }
  .logo0{
    margin-bottom:5px;
    margin-right:5%;
    margin-left:0;
  }
  .login{
    font-size:10px;
    width:111px;
    margin-right:0;
  }
  .template{
    position:fixed;
    left:0;
    bottom:0;
    height:50px;
    z-index: 100;
    background-color:rgb(255, 227, 144);
    border-top:1px solid gray;
  }
  #menu i{
    display:block;
    font-size:20px;
    color:gray;
  }
  .sp{
    display:block;
    font-size:10px;
    color:gray;
  }
  .daico{
    width:100px;
  }
  .just{
    height:60px;
  }
  .just3{
    display:none;
  }
  #menu{
    padding-bottom:10px;
  }
  .setumei{
    width:350px;
    font-size:20px;
    padding-top:0;
  }
  .textbox{
    display:block;
  }
  .searchForm{
    width:300px;
  }
  .list1{
    font-size:12px;
    width:100px;
    padding-right:10px;
  }
  .list2{
    font-size:12px;
    width:100px;
    padding-left:10px;
    padding-right:10px;
  }
  .list3{
    font-size:12px;
    width:100px;
    padding-left:10px;
  }
  .sikaku1{
    display:none;
  }
  .ul2{
    padding-top:0;
    margin-bottom:50px;
  }
}