{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
<div class="page">
        <h1>注文日 2019年3月10日／実行日 2019年3月15日／注文番号 5033-29343-329402
        </h1>
        <div class="order">
            <span>
                <div><em>お届先住所</em><br>高田 崇照<br>181-0013<br>東京都 三鷹市 下連雀<br>3-22-7<br>ヴェールコート三鷹401</div>
                <div><em>支払い方法</em><br>代金引換</div>
                <div><em>注文内容</em><br>商品の小計 : ¥ 4,000<br>手数料 : ¥500<br>注文合計 : ¥4500<br><br><br><em class="address">ご請求額 : ¥4500</em></div>
            </span>
            <div class="order-bottom">
                <img src="{% static 'picture/disney.jpg' %}">
                <span>
                    <p>会社 : <a href="{% url 'enterprise' %}">Casy</a></p>
                    <p><a href="{% url 'plan' %}">激安風呂掃除プラン(夕飯付き)</a></p>
                    <p>¥ 4,000</p>
                    <a href="{% url 'reserve' %}"><button class="pink-Button">注文変更</button></a>
                </span>
                <div class="button-box">
                    <a href="#modal_01"><button>注文を非表示にする</button></a>
                    <a><button>注文をキャンセルする</button></a>
                </div>
                <!-- <div class="modal_00" id="modal_01">
                    モーダルウィンドウが開いている時のオーバーレイ
                    <div class="overLay_0 modalClose_0"></div>
                    モーダルウィンドウの中身
                    <div class="inner_0">
                        <div class="inner_p_0">
                            <P>非表示リストに追加しました。</P>
                            <a href="" class="modalClose_1">Close</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}