{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="three">
        <p class="order1">注文日 2019年3月10日</p>
        <p class="order1">実行日 2019年3月15日</p>
        <p class="order2">注文番号 5033-29343-329402</p>
    </div>
    <div class="flex1">
        <div class="last">
            <div class="name">
                <p class="name0"><em class="address">お届先住所</em><br>高田 崇照<br>181-0013<br>東京都 三鷹市 下連雀<br>3-22-7<br>ヴェールコート三鷹401</p>
                <p class="name1"><em class="address">支払い方法</em><br>代金引換</p>
                <p class="name2"><em class="address">注文内容</em><br>商品の小計 : ¥ 4,000<br>手数料 : ¥500<br>注文合計 : ¥4500<br><br><br><em class="address">ご請求額 : ¥4500</em></p>
            </div>
            <div class="info">
                <img src="{% static 'picture/disney.jpg' %}" class="ikuzi">
                <div class="part">
                    <p class="serihu">会社 : <a href="{% url 'enterprise' %}" class="casi">Casy</a></p>
                    <p class="serihu1"><a href="{% url 'plan' %}" class="planning">激安風呂掃除プラン(夕飯付き)</a></p>
                    <p class="serihu2">¥ 4,000</p>
                    <a href="{% url 'reserve' %}" class="again"><button type="button" class="order8">注文変更</button></a>
                </div>
                <div class="buton">
                    <button type="button" class="buton1 sita">注文を非表示にする</button>
                    <button type="button" class="buton1 sita">注文をキャンセル</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}