{% extends "../../../user-base.html" %}
{% block body %}
    <div class="three">
        <p class="order2"><a href="{% url 'order' %}" class="noneorder">注文</a></p>
        <p class="order1"><a href="{% url 'onotExecuted' %}" class="now">未実行の注文</a></p>
        <p class="order3"><a href="{% url 'cancel' %}" class="cancer">キャンセルされた注文</a></p>
    </div>
    <div class="flex1">
        <div class="last">
            <div class="name">
                <p class="name0"><em>注文日</em><br>2019年3月10日</p>
                <p class="name1"><em>実行予定日</em><br>2019年3月15日</p>
                <p class="name1"><em>合計</em><br>¥ 4,500</p>
                <p class="name1"><em>場所</em><br>東京都三鷹市下連雀3丁目２２−８</p>
                <p class="name2"><a href="{% url 'ondetail' %}" class="ooo">注文詳細</a></p>
            </div>
            <div class="info">
                <img src="../../picture/disney.jpg" class="ikuzi">
                <div class="part">
                    <p class="serihu">会社 : <a href="{% url 'company' %}" class="casi">Casy</a></p>
                    <p class="serihu1"><a href="{% url 'plan' %}" class="planning">激安風呂掃除プラン(夕飯付き)</a></p>
                    <p class="serihu2">¥ 4,000</p>
                    <a href="{% url 'reserve' %}" class="again"><button type="button" class="order8">注文変更</button></a>
                </div>
                <div class="buton">
                    <button type="button" class="buton1 sita">注文を非表示にする</button>
                    <button type="button" class="buton1 sita">注文をキャンセルする</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}