{% extends "../../../notUser-base.html" %}
{% block body %}
    <div class="allbox">
        <div class="fade">
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
        </div>
        <div class="topbox">
            <div class="leftbox">
                <div class="erea">
                    <p class="sibuya">渋谷　>　道玄坂・明治通り</p>
                </div>
                <div class="storename">
                    <p class="casy"><a href="" class="casy1">Casy 【カジー】</a></p>
                </div>
                <div class="storetype">
                    <p class="strongpoint">即時予約OK!</p>
                    <p class="strongpoint1">ポイント加盟店</p>
                    <p class="strongpoint2">メンズにもオススメ</p>
                </div>
            </div>
            <div class="rightbox">
                <div class="bottonbox">
                    <p class="favoriteadd"><button type="button"class="heart"><i class="far fa-heart"></i>  お気に入り</button></p>
                </div>
                <div class="bottonbox">
                    <p class="favoriteadd"><a href=""><button type="button"class="heart8">予約・日時指定へ</button></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex1">
        <div class="last">
            <div class="info">
                <nav class="daicomenu">
                    <ul>
                        <li class="li1"><a href="{% url 'pdetail' %}" class="lih2"><i class="fas fa-building"></i> 会社詳細</a></li>
                        <li><a href="{% url 'menu' %}" class="lih2"><i class="fas fa-scroll"></i> プラン一覧</a></li>
                        <li><a href="{% url 'employ' %}" class="lih2"><i class="fas fa-user"></i> スタッフ一覧</a></li>
                        <li><a href="{% url 'rate' %}" class="lih2"><i class="fas fa-comments"></i> 口コミ</a></li>
                        <li><a href="{% url 'diary' %}" class="lih1"><i class="fas fa-pencil-alt"></i> ブログ</a></li>
                    </ul>
                </nav>
                <div class="three">
                    <p class="order1"><em class="suuti">100</em> 件　のブログがあります</p>
                </div>
                <div class="page0">
                    <div class="page2">
                        <a href="{% url 'ddetail' %}" class="blogpage">
                            <div class="part3">
                                <img src="../../picture/oko.jpg" class="oko">
                                <div class="kowake">
                                    <div class="flexbox">
                                        <p class="humangenre">家事代行</p>
                                        <p class="human">投稿者 : 山下智久</p>
                                    </div>
                                    <p class="title">何でも取れるシミ抜き剤</p>
                                    <p class="blog1">今日は店舗メンバーみんなへの研修を行いました！</p>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'ddetail' %}" class="blogpage">
                            <div class="part3">
                                <img src="../../picture/oko.jpg" class="oko">
                                <div class="kowake">
                                    <div class="flexbox">
                                        <p class="humangenre">家事代行</p>
                                        <p class="human">投稿者 : 山下智久</p>
                                    </div>
                                    <p class="title">何でも取れるシミ抜き剤</p>
                                    <p class="blog1">今日は店舗メンバーみんなへの研修を行いました！</p>
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'ddetail' %}" class="blogpage">
                            <div class="part3">
                                <img src="../../picture/oko.jpg" class="oko">
                                <div class="kowake">
                                    <div class="flexbox">
                                        <p class="humangenre">家事代行</p>
                                        <p class="human">投稿者 : 山下智久</p>
                                    </div>
                                    <p class="title">何でも取れるシミ抜き剤</p>
                                    <p class="blog1">今日は店舗メンバーみんなへの研修を行いました！</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="page3">
                        <p class="category">記事カテゴリ</p>
                        <p class="category1"><a href="" class="category01">家事裏技 (12)</a></p>
                        <p class="category1"><a href="" class="category01">育児裏技 (7)</a></p>
                        <p class="category1"><a href="" class="category01">家事裏技 (12)</a></p>
                        <p class="category1"><a href="" class="category01">育児裏技 (7)</a></p>
                        <p class="category1"><a href="" class="category01">家事裏技 (12)</a></p>
                        <p class="category1"><a href="" class="category01">育児裏技 (7)</a></p>
                        <p class="category">スタッフ</p>
                        <p class="category1"><a href="" class="category01">山下智久 (12)</a></p>
                        <p class="category1"><a href="" class="category01">北川景子 (7)</a></p>
                        <p class="category1"><a href="" class="category01">佐藤勝利 (12)</a></p>
                        <p class="category1"><a href="" class="category01">堀北真希 (7)</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}