{% extends "../../../user-base.html" %}
{% block body %}
    <div class="three">
        <p class="order2">非表示リスト</p>
    </div>
    <div class="list0">
        <div class="list01">
            <div class="info1">
                    <div class="flex1">
                            <div class="last">
                                <div class="name">
                                    <p class="name0"><em>注文日</em><br>2019年3月10日</p>
                                    <p class="name1"><em>実行日</em><br>2019年3月15日</p>
                                    <p class="name1"><em>合計</em><br>¥ 4,500</p>
                                    <p class="name1"><em>場所</em><br>東京都三鷹市下連雀3丁目２２−８</p>
                                    <p class="name2"><a href="{% url 'odetail' %}" class="ooo">注文詳細</a></p>
                                </div>
                                <div class="info">
                                    <img src="../../picture/ikuzi.jpg" class="ikuzi">
                                    <div class="part">
                                        <p class="serihu">会社 : <a href="{% url 'company' %}" class="casi">Casy</a></p>
                                        <p class="serihu1"><a href="{% url 'plan' %}" class="planning">激安風呂掃除プラン(夕飯付き)</a></p>
                                        <p class="serihu2">¥ 4,000</p>
                                        <a href="{% url 'reserve' %}" class="again"><button type="button" class="order8">再度注文</button></a>
                                    </div>
                                    <div class="buton">
                                        <a href="{% url 'review' %}" class="sita"><button type="button" class="buton1">口コミを書く</button></a>
                                        <button type="button" class="buton1 sita">注文非表示を解除</button>
                                        <a href="#modal01" class="modalOpen"><button type="button" class="buton1 sita">お気に入りに追加</button></a>
                                    </div>
                                    <div class="modal00" id="modal01">
                                        <!-- モーダルウィンドウが開いている時のオーバーレイ -->
                                        <div class="overLay modalClose"></div>
                                        <!-- モーダルウィンドウの中身 -->
                                        <div class="inner">
                                            <div class="inner_p">
                                                <P>お気に入りに追加しました。</P>
                                                <a href="" class="modalClose1">Close</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                <div class="flex1">
                                        <div class="last">
                                            <div class="name">
                                                <p class="name0"><em>注文日</em><br>2019年3月10日</p>
                                                <p class="name1"><em>実行日</em><br>2019年3月15日</p>
                                                <p class="name1"><em>合計</em><br>¥ 4,500</p>
                                                <p class="name1"><em>場所</em><br>東京都三鷹市下連雀3丁目２２−８</p>
                                                <p class="name2"><a href="{% url 'odetail' %}" class="ooo">注文詳細</a></p>
                                            </div>
                                            <div class="info">
                                                <img src="../../picture/ikuzi.jpg" class="ikuzi">
                                                <div class="part">
                                                    <p class="serihu">会社 : <a href="{% url 'company' %}" class="casi">Casy</a></p>
                                                    <p class="serihu1"><a href="{% url 'plan' %}" class="planning">激安風呂掃除プラン(夕飯付き)</a></p>
                                                    <p class="serihu2">¥ 4,000</p>
                                                    <a href="{% url 'reserve' %}" class="again"><button type="button" class="order8">再度注文</button></a>
                                                </div>
                                                <div class="buton">
                                                    <a href="{% url 'review' %}" class="sita"><button type="button" class="buton1">口コミを書く</button></a>
                                                    <button type="button" class="buton1 sita">注文非表示を解除</button>
                                                    <a href="#modal01" class="modalOpen"><button type="button" class="buton1 sita">お気に入りに追加</button></a>
                                                </div>
                                                <div class="modal00" id="modal01">
                                                    <!-- モーダルウィンドウが開いている時のオーバーレイ -->
                                                    <div class="overLay modalClose"></div>
                                                    <!-- モーダルウィンドウの中身 -->
                                                    <div class="inner">
                                                        <div class="inner_p">
                                                            <P>お気に入りに追加しました。</P>
                                                            <a href="" class="modalClose1">Close</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            <div class="flex1">
                                                    <div class="last">
                                                        <div class="name">
                                                            <p class="name0"><em>注文日</em><br>2019年3月10日</p>
                                                            <p class="name1"><em>実行日</em><br>2019年3月15日</p>
                                                            <p class="name1"><em>合計</em><br>¥ 4,500</p>
                                                            <p class="name1"><em>場所</em><br>東京都三鷹市下連雀3丁目２２−８</p>
                                                            <p class="name2"><a href="{% url 'odetail' %}" class="ooo">注文詳細</a></p>
                                                        </div>
                                                        <div class="info">
                                                            <img src="../../picture/ikuzi.jpg" class="ikuzi">
                                                            <div class="part">
                                                                <p class="serihu">会社 : <a href="{% url 'company' %}" class="casi">Casy</a></p>
                                                                <p class="serihu1"><a href="{% url 'plan' %}" class="planning">激安風呂掃除プラン(夕飯付き)</a></p>
                                                                <p class="serihu2">¥ 4,000</p>
                                                                <a href="{% url 'reserve' %}" class="again"><button type="button" class="order8">再度注文</button></a>
                                                            </div>
                                                            <div class="buton">
                                                                <a href="{% url 'review' %}" class="sita"><button type="button" class="buton1">口コミを書く</button></a>
                                                                <button type="button" class="buton1 sita">注文非表示を解除</button>
                                                                <a href="#modal01" class="modalOpen"><button type="button" class="buton1 sita">お気に入りに追加</button></a>
                                                            </div>
                                                            <div class="modal00" id="modal01">
                                                                <!-- モーダルウィンドウが開いている時のオーバーレイ -->
                                                                <div class="overLay modalClose"></div>
                                                                <!-- モーダルウィンドウの中身 -->
                                                                <div class="inner">
                                                                    <div class="inner_p">
                                                                        <P>お気に入りに追加しました。</P>
                                                                        <a href="" class="modalClose1">Close</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                <div class="button">
                    <a href="{% url 'index' %}" class="click"><button type="button" class="buton4">HOME</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}