body{
  margin:0px;
  background-color:rgb(255, 255, 255);
  /* background-image: url("mori.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center 130px; */
  /* background-repeat: no-repeat;  */
}
header{
  width:100%;
  background-color:rgb(17, 17, 51);
}



a{
  text-decoration: none;
  color:rgb(255, 255, 255);
}
a:hover{
  color:rgb(197, 196, 196);
}
.logo{
  width:100%;
  height:auto;
  padding-top:30px;
  padding-bottom:30px;
  display:flex;
  justify-content: flex-end;
}
.logo0{
  margin-right:1%;
  margin-left:60%;
}
.logo00{
  margin-right:5%;
}
.daico{
  width:194px;
  height:56px;
  padding-top:10px;
}
.top-logo{
  font-size: 30px;
  height:66px;
}
.login{
  color:white;
  background-color: rgb(255, 187, 0);
  font-size: 15px;
  /* margin-top:40px; */
  margin-right:10px;
  float: right;
  text-align:center;
  cursor:pointer;
  border-radius:10%;
  padding:2.5px 5px;
}
.login:hover{
  background-color:rgb(253, 219, 123);
  color:gray;
}
.login2{
  color:white;
  background-color: rgb(48, 182, 245);
  font-size: 15px;
  /* margin-top:40px; */
  float: right;
  text-align:center;
  border-radius:10%;
  padding:2.5px 5px;
}
.login2:hover{
  background-color:rgb(146, 217, 250);
  color:gray;
}
.template{
  width:100%;
  background-color:rgb(17, 17, 51);
  display: flex;
  justify-content: center;
}
.template #menu{
  list-style: none;
  height: auto;
  padding-bottom:30px;
  padding-top: 0px;
  /* border-top: solid 1px #000; */
  /* border-bottom: solid 1px #000; */
  padding-left:0;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}
.just{
  width:200px;
  margin:0 1%;
  text-align:center;
}
/* .just{
  padding-left:2% !important;
}
.just0{
  padding-left:0% !important;
}
.just2{
  padding-left:2% !important;
} */
.just3{
  padding-bottom:20px;
}
.home{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  padding-right:0;
  padding-left:0;
  font-weight:bold;
  border-bottom:3px solid white;
}
.favorite{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight:bold;
}
.order-history{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight:bold;
}
.notice{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight:bold;
}
.my-page{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-weight:bold;
}
.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
  
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}





.flex{
  width:50%;
  margin:30px auto 0 auto;;
  display:flex;
  flex-wrap: wrap;
}
.sort{
  width:13%;
  height:22px;
  background-color:rgb(238, 230, 196);
  border:3px solid gray;
  padding-left:10px;
}
.result{
  width:15%;
  height:25px;
  background-color:rgba(0,0,0,0.5);
  text-align:center;
  color:white;
  margin-left:100px;
}

.button{
  font-size:10px;
  margin-left:30px;
}


.sort1{
  width:20%;
  height:auto;
  padding-bottom:20px;
  background-color:white;
  border:3px solid gray;
  text-align:left;
  color:black;
}
.genre{
  margin:0;
  padding-left:10px;
  padding-top:5px;
  font-size:15px;
  background-color:rgb(238, 230, 196);
  border-bottom:3px solid gray;
}
.genre1{
  margin:0;
  padding-left:20px;
  padding-top:10px;
  font-size:15px;
}
.genre2{
  margin:0;
  margin-left:30px;
  margin-right:10px;
  padding-left:5px;
  font-size:15px;
  border:1px solid gray;
}
.sibo{
  margin-left:38px;
  font-size:12px;
  color:blue;
}
.sibo1{
  margin-left:47px;
  font-size:12px;
  color:blue;
}
.sibo2{
  margin-left:34px;
  font-size:12px;
  color:blue;
}
.sibo3{
  margin-left:57px;
  font-size:12px;
  color:blue;
}
.sibo4{
  margin-left:38px;
  font-size:12px;
  color:blue;
}
.flex1{
  width:40%;
  margin:30px auto;
  margin-bottom:50px;
  border:1px solid rgb(17, 17, 90);
}
.last{
  width:100%;
}
.name{
  background-color: rgb(50, 122, 182);
  color:white;
  border-bottom: 1px solid rgb(17, 17, 90);
  height:40px;
}
.name1{
  margin:0;
  padding-top:3px;
  padding-left:10px;
  font-weight:bold;
  font-size:20px;
}
.heart{
  color:rgb(206, 5, 5);
  font-size:30px;
  float:right;
  border:none;
  background:none;
  outline:none;
}
.heart.active{
  color:white;
  font-size:30px;
  float:right;
  border:none;
  background:none;
  outline:none;
}
.info{
  width:100%;
  height:auto;
  background-color:white;
  display:flex;
}
.ikuzi{
  padding: 10px;
  width:40%;
  height:290px;
  /* flex:0 0 auto; */
}
.plan{
  width:100%;
  height:40px;
  background-color:white;
  text-align:center;
}
.styled{
  width:130px;
  height:50px;
  font-size: 18px;
  font-weight:bold;
  text-align: center;
  color:#fff;
  background-color:rgb(255, 187, 0);
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  outline:none;
  cursor: pointer;
  margin:5px 30%;
  border:2px solid rgb(17, 17, 90);
}
.styled:hover {
  background-color:rgb(250, 215, 118);
}
.action{
  width:100%;
  height:20%;
  margin-top:2%;
  margin-bottom:0%;
}
.last1{
  width:50%;
  margin:0 auto 10px;
  border:3px solid gray;
}
em{
  color:rgb(206, 5, 5);
  font-size:15px;
}
.yoko{
  display:flex;
}
.hyouka{
  border-top:1px dotted black;
  border-bottom:1px dotted black;
  margin-top:5px;
  margin-bottom:5px;
}
.sanko{
  margin-left:5%;
}
.hosi5{
  margin-left:5%;
}
.star{
  color:rgb(151, 151, 76);
}
.part{
  display:flex;
  flex-direction:column;
  margin-left:20px;
}
.money{
  text-align:left;
  padding-left:20px;
  margin-top:5px;
}
.mouse{
  text-align: left;
  padding-left:16px;
  margin-top:35px;
}
.blog{
  text-align: left;
  padding-left:16px;
  margin-top:40px;
  margin-bottom:13px;
}
.yen{
  color:blue;
  padding-left:50px;
}
.kuti{
  color:blue;
  padding-left:50px;
}
.te{
  color:blue;
  padding-left:50px;
}
.daimei{
  width:50%;
  margin:10px auto;
}
.faa{
  width:15%;
  text-align:center;
  background-color:rgba(0,0,0,0.7);
  color:white;
  font-size:20px;
}






@media screen and (min-width:1024px){
  /* 1024px以上の幅の都合に適応される */
  .homebox{
    display:none;
  }
  .get{
    display:flex;
  }
  .logo0{
    margin-left:0;
  }
  .login2{
    font-size:12px;
    width:130px;
    height:20px;
  }
  .login{
    font-size:12px;
    width:100px;
    height:20px;
  }
  .logo{
    padding-bottom:0;
  }
  .just4{
    display:none;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  /* 768px~1024pxまでの幅の場合に適応される */
  .homebox{
    display:none;
  }
  .get{
    display:flex;
  }
  .logo0{
    margin-left:0;
  }
  .login2{
    font-size:12px;
    width:130px;
    height:20px;
  }
  .login{
    font-size:12px;
    width:100px;
    height:20px;
  }
  .logo{
    padding-bottom:0;
  }
  .just4{
    display:none;
  }
  .just{
    margin:0 0;
    font-size:15px;
  }
  .daico{
    width:140px;
  }
  .setumei{
    width:500px;
  }
  .textbox{
    display:inline-block;
  }
  .sikaku{
    width:140px;
  }
  .searchForm{
    margin:10% auto;
  }
}

@media screen and (max-width: 767px) {
  /* 767pxまでの幅の場合に適応される */
  .logo{
    display:flex;
    justify-content: flex-end;
  }
  .homebox{
    width:150px;
    height:50px;
    margin-right:auto;
    margin-left:3%;
  }
  .homebox1{
    width:100%;
    height:100%;
  }
  .get{
    display:flex;
    flex-direction: column;
  }
  .login2{
    font-size:10px;
    width:111px;
  }
  .logo0{
    margin-bottom:5px;
    margin-right:5%;
    margin-left:0;
  }
  .login{
    font-size:10px;
    width:111px;
    margin-right:0;
  }
  .template{
    position:fixed;
    left:0;
    bottom:0;
    height:50px;
    z-index: 100;
    background-color:rgb(255, 227, 144);
    border-top:1px solid gray;
  }
  #menu i{
    display:block;
    font-size:20px;
    color:gray;
  }
  .sp{
    display:block;
    font-size:10px;
    color:gray;
  }
  .daico{
    width:100px;
  }
  .just{
    height:60px;
  }
  .just3{
    display:none;
  }
  #menu{
    padding-bottom:10px;
  }
  .setumei{
    width:350px;
    font-size:20px;
    padding-top:0;
  }
  .textbox{
    display:block;
  }
  .searchForm{
    width:300px;
  }
  .list1{
    font-size:12px;
    width:100px;
    padding-right:10px;
  }
  .list2{
    font-size:12px;
    width:100px;
    padding-left:10px;
    padding-right:10px;
  }
  .list3{
    font-size:12px;
    width:100px;
    padding-left:10px;
  }
  .sikaku1{
    display:none;
  }
  .ul2{
    padding-top:0;
    margin-bottom:50px;
  }
}