{% extends "../../../user-base.html" %}
{% block body %}
    <div class="three">
        <p class="order2">退会</p>
    </div>
    <div class="flex1">
        <div class="last">
            <div class="info">
                <div class="cp_ipradio">
                    <div class="menwomen">
                        <div class="sikiri">注意</div>
                        <div class="box">
                                DAICO会員を退会されますと、これまで受けていた特典を受けられなくなります。また新たにDAICO上で注文する際に、氏名や住所などを再度入力する必要があります。
                        </div>
                    </div>
                </div>
                <div class="buton">
                    <a href="{% url 'index' %}" class="click"><button type="button" class="buton4">HOMEへ</button></a>
                    <a href="{% url 'index' %}" class="click"><button type="button" class="buton4">退会する</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}