{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <div class="company-detail">
            <div class="fade" id="fade">
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
            </div>
            <div class="company-top-1">
                <span class="left">
                    <p>渋谷　>　道玄坂・明治通り</p>
                    <a href="{% url 'enterprise' %}">Casy 【カジー】</a>
                    <div>
                        <p class="point">即時予約OK!</p>
                        <p class="point1">ポイント加盟店</p>
                        <p class="point2">メンズにもオススメ</p>
                    </div>
                </span>
                <span class="right">
                    <div class="buttonbox">
                        <a href="../contact/chat-customer.html"><button class="chat"><i class="far fa-comments"></i>　チャット</button></a>
                        <button class="favorite2"><i class="far fa-heart"></i>  お気に入り</button>
                        <a href="{% url 'reserve' %}"><button class="reserve">予約・日時指定へ</button></a>

                    </div>
                </span>
            </div>
        </div>
        <div class="company-menu">
            <p><a href="{% url 'enterprise' %}"><i class="fas fa-building"></i> 会社詳細</a></p>
            <p><a href="{% url 'plan' %}"><i class="fas fa-scroll"></i> プラン一覧</a></p>
            <p><a href="{% url 'staff' %}"><i class="fas fa-user"></i> スタッフ一覧</a></p>
            <p><a href="{% url 'review' %}"><i class="fas fa-comments"></i> 口コミ</a></p>
            <p class="last"><a href="{% url 'blog' %}"><i class="fas fa-pencil-alt"></i> ブログ</a></p>
        </div>
        <h1><em>15</em> 人　のスタッフがいます</h1>
        <div class="staff-all">
            <div>
                <img src="{% static 'picture/yamap.jpeg' %}">
                <p><a href="{% url 'sdetail' %}">山下智久</a></p>
                <p><em>代表</em> (歴10年)</p>
                <p>風呂掃除は業界No.1の実力を持った愛され男</p>
                <div class="coupon-button">
                    <a href="{% url 'reserve' %}"><button class="pink-Button">指名して予約へ進む</button></a>
                </div>
        
            </div>
            <div>
                <img src="{% static 'picture/kitagawa.jpg' %}">
                <p><a href="{% url 'sdetail' %}">北川景子</a></p>
                <p><em>店長</em> (歴8年)</p>
                <p>風呂掃除は業界No.1の実力を持った愛され男</p>
                <div class="coupon-button">
                    <a href="{% url 'reserve' %}"><button class="pink-Button">指名して予約へ進む</button></a>
                </div>
            </div>
            <div>
                <img src="{% static 'picture/syouri.png' %}">
                <p><a href="{% url 'sdetail' %}">佐藤勝利</a></p>
                <p><em>エース</em> (歴5年)</p>
                <p>風呂掃除は業界No.1の実力を持った愛され男</p>
                <div class="coupon-button">
                    <a href="{% url 'reserve' %}"><button class="pink-Button">指名して予約へ進む</button></a>
                </div>
            </div>
            <div>
                <img src="{% static 'picture/horikita.jpg' %}">
                <p><a href="{% url 'sdetail' %}">堀北真希</a></p>
                <p><em>見習い</em> (歴3年)</p>
                <p>風呂掃除は業界No.1の実力を持った愛され男</p>
                <div class="coupon-button">
                    <a href="{% url 'reserve' %}"><button class="pink-Button">指名して予約へ進む</button></a>
                </div>
            </div>
            <div>
                <img src="{% static 'picture/syun.jpg' %}">
                <p><a href="{% url 'sdetail' %}">小栗旬</a></p>
                <p><em>見習い</em> (歴3年)</p>
                <p>風呂掃除は業界No.1の実力を持った愛され男</p>
                <div class="coupon-button">
                        <a href="{% url 'reserve' %}"><button class="pink-Button">指名して予約へ進む</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}