{% extends "../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="explain">
        <p>国内1000社以上の代行会社を 検索・比較・予約できるサイト！</p>
        <span>
            <i class="fas fa-search"></i>ジャンル検索で代行会社を比較 ｜
            <i class="far fa-eye"></i>価格順で一目で比較 ｜
            <i class="far fa-handshake"></i>サイト内で予約が完了
        </span>
    </div>
    <div class="article-list">
        <a href="{% url 'article' %}" class="color">記事一覧へ</a>
        <!-- <div class="multiple">
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
        </div> -->
        {% for article in contexts.article_list %}
            <a href="{% url 'wdetail' pk=article.id %}">
                <div class="multiple">
                    <div class="article-piece">
                        <img src="{{ article.image.url}}" alt="">
                        <p>{{ article.title }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="search">
        <input type="text" placeholder="  ジャンルを検索してください">
        <a href="{% url 'search' %}"><button type="submit"><i class="fas fa-search fa-2x"></i></button></a>
    </div>
    <div class="search-icon">
        <ul>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/kazi.png' %}"><p>家事代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/ikuzi.jpg' %}"><p>育児代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/souzi.jpg' %}"><p>掃除代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/riazyu.png' %}"><p>友達代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/oko.jpg' %}"><p>叱り代行</p></a></li>
        </ul>
        <ul class="ul2">
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/disney.jpg' %}"><p>夢国代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/car.jpg' %}"><p>運転代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/youtube.png' %}"><p>撮影代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/super.jpg' %}"><p>相方代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/inu.jpg' %}"><p>散歩代行</p></a></li>
        </ul>
    </div>        
{% endblock %}