{% extends "../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="explain">
        <p>国内1000社以上の代行会社を 検索・比較・予約できるサイト！</p>
        <span>
            <i class="fas fa-search"></i>ジャンル検索で代行会社を比較 ｜
            <i class="far fa-eye"></i>価格順で一目で比較 ｜
            <i class="far fa-handshake"></i>サイト内で予約が完了
        </span>
    </div>
    <div class="article-list">
        <a href="{% url 'article' %}" class="color">記事一覧へ</a>
        <div class="multiple">
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
            <div class="article-piece"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""><p>１時間５００円からの激安店舗!!</p></div>
        </div>
    </div>
    <div class="search">
        <form class="navbar-item field has-addons" action="{% url 'Company_dataListView' %}" method="get" accept-charset="utf-8">
            <div class="control">
                <input class="input" type="text" name="q" placeholder="キーワードを入力してください">
            </div>
            <div class="control">
                <button class="button is-info" type="submit"><span class="icon"><i class="fas fa-search"></i></span></button>
            </div>
        </form>
        <!-- <form action="" method="GET">
            <input type="text" placeholder="  ジャンルを検索してください">
            <a href="{% url 'search' %}"><button type="submit"><i class="fas fa-search fa-2x"></i></button></a>
        </form> -->
    </div>
    <div class="search-icon">
        <ul>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/kazi.png' %}"><p>家事代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/ikuzi.jpg' %}"><p>育児代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/souzi.jpg' %}"><p>掃除代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/riazyu.png' %}"><p>友達代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/oko.jpg' %}"><p>叱り代行</p></a></li>
        </ul>
        <ul class="ul2">
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/disney.jpg' %}"><p>夢国代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/car.jpg' %}"><p>運転代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/youtube.png' %}"><p>撮影代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/super.jpg' %}"><p>相方代行</p></a></li>
        　　<li><a href="{% url 'search' %}"><img src="{% static 'picture/inu.jpg' %}"><p>散歩代行</p></a></li>
        </ul>
    </div> 
    <!-- <form class="navbar-item field has-addons" action="{% url 'Company_dataListView' %}" method="get" accept-charset="utf-8">
        <div class="control">
            <input class="input" type="text" name="q" placeholder="検索...">
        </div>
        <div class="control">
            <button class="button is-info" type="submit"><span class="icon"><i class="fas fa-search"></i></span></button>
        </div>
    </form> -->
    
    <div class="container">
        {% for company_data in company_data_list %}
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                        <strong>{{ company_data.name | truncatechars_html:35 }}</strong>
                        </p>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>       
{% endblock %}