{% extends "../../../company-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <div class="company-detail">
            <div class="fade" id="fade">
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
            </div>
            <div class="company-top-1">
                <span class="left">
                    <p>渋谷　>　道玄坂・明治通り</p>
                    <a href="">Casy 【カジー】</a>
                    <div>
                        <p class="point">即時予約OK!</p>
                        <p class="point1">ポイント加盟店</p>
                        <p class="point2">メンズにもオススメ</p>
                    </div>
                </span>
                <span class="right">
                    <div class="buttonbox">
                        <button class="favorite2"><i class="far fa-heart"></i>  お気に入り</button>
                        <a href=""><button class="reserve">予約・日時指定へ</button></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="company-menu">
            <p><a href="{% url 'company' %}"><i class="fas fa-building"></i> 会社詳細</a></p>
            <p><a href="{% url 'coupon' %}"><i class="fas fa-scroll"></i> プラン一覧</a></p>
            <p><a href="{% url 'player' %}"><i class="fas fa-user"></i> スタッフ一覧</a></p>
            <p><a href="{% url 'valuation' %}"><i class="fas fa-comments"></i> 口コミ</a></p>
            <p class="last"><a href="{% url 'read' %}"><i class="fas fa-pencil-alt"></i> ブログ</a></p>
        </div>
        <h1>クーポン<em>15</em> 件　メニュー<em>10</em> 件　あります</h1>
        <div class="sortflex">
            <a class="thisPage" href="../company/homehelp.html">全て</a>
            <a class="notPage" href="../company/homehelp.html">家事代行</a>
            <a class="notPage" href="../company/baby.html">育児代行</a>
            <a class="notPage" href="../company/come.html">お迎え代行</a>
            <a class="notPage" href="../company/walk.html">散歩代行</a>
        </div>
        <h1>Casyのクーポン</h1>
        <div class="coupon">
            <div class="label">
                新規
            </div>
            <div class="genre">
                <span>
                    <p>育児代行</p>
                    <div>¥ 3,000</div>
                </span>
                <p>【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</p>
                <div>
                    <img src="{% static 'picture/ikuzi.jpg' %}">
                    <div>
                        <p>プロの掃除機械や技術を持っていきます!!</p>
                        <div><em>利用条件</em> : 初回利用のみ</div>
                        <div><em>有効期限</em> : 2019年3月末まで</div>
                    </div>
                </div>
            </div>
            <div class="coupon-button">
                <a href=""><button class="pink-Button">このクーポンを<br>利用して予約へ進む</button></a>
            </div>
        </div>
        <div class="coupon">
            <div class="label">
                新規
            </div>
            <div class="genre">
                <span>
                    <p>育児代行</p>
                    <div>¥ 3,000</div>
                </span>
                <p>【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</p>
                <div>
                    <img src="{% static 'picture/ikuzi.jpg' %}">
                    <div>
                        <p>プロの掃除機械や技術を持っていきます!!</p>
                        <div><em>利用条件</em> : 初回利用のみ</div>
                        <div><em>有効期限</em> : 2019年3月末まで</div>
                    </div>
                </div>
            </div>
            <div class="coupon-button">
                <a href=""><button class="pink-Button">このクーポンを<br>利用して予約へ進む</button></a>
            </div>
        </div>
        <h1 class="order1">Casyのメニュー</a></h1>
        <h4>家事代行</h4>
        <div class="coupon">
            <div class="menu-all">
                <div>
                    <p>水回りの清掃</p>
                    <div>¥ 3,000</div>
                </div>
                <span class="menu-detail">バス・トイレ・キッチンのみ</span>
            </div>
            <div class="coupon-button">
                <a href=""><button class="pink-Button">予約へ進む</button></a>
            </div>
        </div>
        <h4>育児代行</h4>
        <div class="coupon">
            <div class="menu-all">
                <div>
                    <p>水回りの清掃</p>
                    <div>¥ 3,000</div>
                </div>
                <span class="menu-detail">バス・トイレ・キッチンのみ</span>
            </div>
            <div class="coupon-button">
                <a href=""><button class="pink-Button">予約へ進む</button></a>
            </div>
        </div>
        <h4>話し相手代行</h4>
        <div class="coupon">
            <div class="menu-all">
                <div>
                    <p>水回りの清掃</p>
                    <div>¥ 3,000</div>
                </div>
                <span class="menu-detail">バス・トイレ・キッチンのみ</span>
            </div>
            <div class="coupon-button">
                <a href=""><button class="pink-Button">予約へ進む</button></a>
            </div>
        </div>
    </div>
{% endblock %}