{% extends "../../../notUser-base.html" %}
{% block body %}
    <div class="flex1">
        <div class="three">
        </div>
        <div class="status">
            <select class="statuss">
                <option value="未対応">未対応</option>
                <option value="開発処理中">開発処理中</option>
                <option value="対応済み">対応済み</option>
                <option value="保留">保留</option>
                <option value="クローズ">クローズ</option>
            </select>
        </div>
        <div class="balloon1">
            <p class="serihu1">【ログインについて】</p>
            <div class="zyouken">
                <p class="simekiri">
                    　　　パスワードを忘れてしまいました<br><br>
                    <be></be><br><em class="meizi">　　アカウント名</em> : 菅田将暉
                    <br><em class="meizi">　　メールアドレス</em> : suda@softbank.ne.jp
                </p>
            </div>
        </div>
        <div class="searchForm">
            <input class="searchForm-input" type="text" placeholder="返信内容">
            <a href="{% url 'customer' %}"><button class="searchForm-submit" type="submit">送信</button></a>
        </div>
        <div class="three2">
        </div>
    </div>
{% endblock %}