{% extends "../../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <h1><a href="{% url 'contact' %}" class="h1-c">Client</a>
            Customer
        </h1>
        <div class="sortflex">
            <a href="{% url 'inquire' %}" class="thisPage">未対応</a>
            <a href="{% url 'inquire' %}" class="notPage">開発処理中</a>
            <a href="{% url 'inquire' %}" class="notPage">対応済み</a>
            <a href="{% url 'inquire' %}" class="notPage">保留</a>
            <a href="{% url 'inquire' %}" class="notPage">クローズ</a>
        </div>  
        {% for contact in contacts %}                  
        <div class="coupon">
            <div class="genre">
                <p>{{ contact.get_foo_display }}</p>
                <div>
                    <div>
            　　　      <p>{{ contact.message }}</p>
                        <div><em>アカウント名</em> : {{ contact.name }}</div>
                        <div><em>メールアドレス</em> : {{ contact.email }}</div>
                    </div>
                </div>
            </div>
            <div class="coupon-button">
                <a href="{% url 'customer' pk=contact.id %}"><button class="pink-Button">お問い合わせを開始する</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}