{% extends "../../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <h1><a href="{% url 'contact' %}" class="h1-c">Client</a>
            Customer
        </h1>
        <div class="sortflex">
            <a href="{% url 'inquire' %}" class="thisPage">未対応</a>
            <a href="{% url 'inquire' %}" class="notPage">開発処理中</a>
            <a href="{% url 'inquire' %}" class="notPage">対応済み</a>
            <a href="{% url 'inquire' %}" class="notPage">保留</a>
            <a href="{% url 'inquire' %}" class="notPage">クローズ</a>
        </div>                    
        <div class="coupon">
            <div class="genre">
                <p>【ログインについて】</p>
                <div>
                    <div>
            　　　      <p>パスワードを忘れてしまいました</p>
                        <div><em>アカウント名</em> : 菅田将暉</div>
                        <div><em>メールアドレス</em> : suda@softbank.ne.jp</div>
                    </div>
                </div>
            </div>
            <div class="coupon-button">
                <a href="{% url 'customer' %}"><button class="pink-Button">お問い合わせを開始する</button></a>
            </div>
        </div>                           
        <div class="coupon">
            <div class="genre">
                <p>【不具合について】</p>
                <div>
                    <div>
            　　　      <p>予約ページのバグを直してください</p>
                        <div><em>アカウント名</em> : 菅田将暉</div>
                        <div><em>メールアドレス</em> : suda@softbank.ne.jp</div>
                    </div>
                </div>
            </div>
            <div class="coupon-button">
                <a href="{% url 'customer' %}"><button class="pink-Button">お問い合わせを開始する</button></a>
            </div>
        </div>
    </div>
{% endblock %}