{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <h1>店舗からのメッセージ
            <a href="{% url 'nengine' %}" class="h1-a">DAICOからのメッセージ</a>
            <a href="#" class="page-separate">1/10ページ</a>
            <a href="#" class="page-next">次へ</a>
        </h1>
        <a href="{% url 'ncdetail' %}" class="message">
            <div>
                <p class="category-tag">家事代行</p>
                <div class="">Casy</div>
            </div>
            <p><br>【次回使えるクーポンの紹介】</p>
            <span><br>2019/3/8 10:30</span>
        </a>
        <a href="{% url 'ncdetail' %}" class="message">
            <div>
                <p class="category-tag">家事代行</p>
                <div class="">Casy</div>
            </div>
            <p><br>【次回使えるクーポンの紹介】</p>
            <span><br>2019/3/8 10:30</span>
        </a>
    </div>
{% endblock %}