{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <div class="company-detail">
            <div class="fade" id="fade">
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
            </div>
            <div class="company-top-1">
                <span class="left">
                    <p>渋谷　>　道玄坂・明治通り</p>
                    <a href="{% url 'enterprise' %}">Casy 【カジー】</a>
                    <div>
                        <p class="point">即時予約OK!</p>
                        <p class="point1">ポイント加盟店</p>
                        <p class="point2">メンズにもオススメ</p>
                    </div>
                </span>
                <span class="right">
                    <div class="buttonbox">
                        <a href="../contact/chat-customer.html"><button class="chat"><i class="far fa-comments"></i>　チャット</button></a>
                        <button class="favorite2"><i class="far fa-heart"></i>  お気に入り</button>
                        <a href="{% url 'reserve' %}"><button class="reserve">予約・日時指定へ</button></a>

                    </div>
                </span>
            </div>
        </div>
        <div class="company-menu">
            <p><a href="{% url 'enterprise' %}"><i class="fas fa-building"></i> 会社詳細</a></p>
            <p><a href="{% url 'plan' %}"><i class="fas fa-scroll"></i> プラン一覧</a></p>
            <p><a href="{% url 'staff' %}"><i class="fas fa-user"></i> スタッフ一覧</a></p>
            <p><a href="{% url 'review' %}"><i class="fas fa-comments"></i> 口コミ</a></p>
            <p class="last"><a href="{% url 'blog' %}"><i class="fas fa-pencil-alt"></i> ブログ</a></p>
        </div>
        <h1>Casyのブログ</h1>
        <div class="article">
            <div>
                <div class="article-table">【シミを必ず落とす研修】</div>
                <div class="article-detail">
                    こんにちは！<br>
                    <br>先日はCasyをご利用頂きましてありがとうございました！<br>
                    <br>ご利用より１か月が経ちますが、風呂の調子はいかがですか？<br>
                    掃除の方法などにお困りはございませんか？<br>
                    <br>Casyでは、次回もネット予約して頂くと次回ご注文の合計金額より<br>
                    {540円引き】致します♪<br>
                    <br>次回も最善のご提案が出来たらと思いますので、<br>
                    ぜひこちらの<a href="../html/yoyaku.html" class="cuupon">クーポン</a>をご利用下さい。<br>
                    <br>またお会いできるのを楽しみにしています。<br>
                    <br>Casy　山下智久
                </div>
            </div>
        </div>
    </div>
{% endblock %}