{% extends "../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="flex1">
        <div class="three">
            <p class="order1">view数</p>
        </div>
        <div class="three">
            <p class="order1">新規ユーザー数</p>
        </div>
        <div class="three">
            <p class="order1">リピートユーザー数</p>
        </div>
        <div class="three">
            <p class="order1">注文数</p>
        </div>
        <div class="three">
            <p class="order1">キャンセル率</p>
        </div>
    </div>
{% endblock %}