{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}【代行エンジン】代行業を一括で検索・比較出来るサイト{% endblock %}</title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <link href="{% static 'css/engine.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'picture/favicon.ico' %}">
        <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/slick/slick.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/slick/slick-theme.css' %}"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <!-- <div class="homebox">
                    <a href="../home/before-login.html"><img src="../../picture/daico.png" class="homebox1"></a>
                </div> -->
                <div class="login-group">
                    <a id="login2"><i class="fas fa-user-circle"></i> 新規会員登録(無料)</a>
                    <a id="login-show"><i class="fas fa-sign-in-alt"></i> ログイン</a>
                </div>
                <div class="login-modal-wrapper" id="login-modal">
                    <div class="modal">
                        <div class="close-modal">
                            <i class="fa fa-2x fa-times"></i>
                        </div>
                        <div id="login-form">
                            <h2>Emailログイン</h2>
                            <form action="#">
                                <input class="form-control" type="text" placeholder="メールアドレス">
                                <input class="form-control" type="password" placeholder="パスワード">
                                <a href="after-login.html"><div id="submit-btn">ログイン</div></a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="menu" id="menu">
                    <a href="{% url 'manage' %}"><i class="fas fa-tasks"></i>予約管理</a>
                    <a href="{% url 'edit' %}"><i class="fas fa-edit"></i>編集</a>
                    <a href="{% url 'engine' %}"><img src="{% static 'picture/pinklogo.png' %}"></a>
                    <a href="{% url 'contact' %}"><i class="far fa-comments"></i>お問い合わせ</a>
                    <a href="{% url 'analytics' %}"><i class="far fa-chart-bar"></i>分析</a>
                </div>
            </nav>
        </header>         
        {% block body %}
        {% load static %}
        {% endblock %}
    </body>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sride.js' %}"></script>
    <script src="{% static 'js/favorite.js' %}s"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/fade.js' %}"></script>
    <script src="{% static 'js/review.js' %"></script>
    <script src="{% static 'js/order.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/editer.js' %}"></script>    
</html>