{% extends "../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <h1>記事一覧</h1>
        <div class="article">
            <p><em>100</em> 件　の記事があります</p>
            <span>
                <ul>
                    <li>
                        <a href="{% url 'adetail' %}" class="article-page">
                            <img src="" class="oko">
                            <span>
                                <div>
                                    <p class="category-tag">重要</p>
                                    <p>投稿者 : 山下智久</p>
                                </div>
                                <p>何でも取れるシミ抜き剤</p>
                                <p>今日は店舗メンバーみんなへの研修を行いました！</p>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'adetail' %}" class="article-page">
                            <img src="" class="oko">
                            <span>
                                <div>
                                    <p class="category-tag">重要</p>
                                    <p>投稿者 : 山下智久</p>
                                </div>
                                <p>何でも取れるシミ抜き剤</p>
                                <p>今日は店舗メンバーみんなへの研修を行いました！</p>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="category">
                    <p class="category-title">記事カテゴリ</p>
                    <p><a href="#">家事裏技 (12)</a></p>
                    <p><a href="#">育児裏技 (7)</a></p>
                    <p><a href="#">家事裏技 (12)</a></p>
                    <p><a href="#">育児裏技 (7)</a></p>
                    <p><a href="#">家事裏技 (12)</a></p>
                    <p><a href="#">育児裏技 (7)</a></p>
                    <p class="category-title">スタッフ</p>
                    <p><a href="#">山下智久 (12)</a></p>
                    <p><a href="#">北川景子 (7)</a></p>
                    <p><a href="#">佐藤勝利 (12)</a></p>
                    <p><a href="#">堀北真希 (7)</a></p>
                </div>
            </span>
        </div>
    </div>
{% endblock %}