{% extends "../../user-base.html" %}
{% block body %}
    <div class="allbox">
        <div class="fade" id="fade">
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
        </div>
        <div class="topbox">
            <div class="leftbox">
                <div class="erea">
                    <p class="sibuya">渋谷　>　道玄坂・明治通り</p>
                </div>
                <div class="storename">
                    <p class="casy"><a href="{% url 'company' %}" class="casy1">Casy 【カジー】</a></p>
                </div>
                <div class="storetype">
                    <p class="strongpoint">即時予約OK!</p>
                    <p class="strongpoint1">ポイント加盟店</p>
                    <p class="strongpoint2">メンズにもオススメ</p>
                </div>
            </div>
            <div class="rightbox">
                <div class="bottonbox">
                    <p class="favoriteadd"><a href="../contact/chat-customer.html"><button type="button"class="heart8">お問い合わせ</button></a></p>
                    <p class="favoriteadd"><button type="button"class="heart"><i class="far fa-heart"></i>  お気に入り</button></p>
                    <p class="favoriteadd"><a href="{% url 'reserve' %}"><button type="button"class="heart8">予約・日時指定へ</button></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex1">
        <div class="last">
            <div class="info">
                <nav class="daicomenu">
                    <ul>
                        <li class="li1"><a href="{% url 'company' %}" class="lih1"><i class="fas fa-building"></i> 会社詳細</a></li>
                        <li><a href="{% url 'plan' %}" class="lih2"><i class="fas fa-scroll"></i> プラン一覧</a></li>
                        <li><a href="{% url 'staff' %}" class="lih2"><i class="fas fa-user"></i> スタッフ一覧</a></li>
                        <li><a href="{% url 'review' %}" class="lih2"><i class="fas fa-comments"></i> 口コミ</a></li>
                        <li><a href="{% url 'blog' %}" class="lih2"><i class="fas fa-pencil-alt"></i> ブログ</a></li>
                    </ul>
                </nav>
                <div class="bottombox">
                    <div class="leftphotos">
                        <div class="leftphoto">
                            <img src="../../picture/horikita.jpg" class="photo1">
                        </div>
                        <div class="slide">
                            <div class="leftphoto2">
                                <img src="../../picture/kazi.png" class="photo2">
                            </div>
                            <div class="leftphoto3">
                                <img src="../../picture/ikuzi.jpg" class="photo3">
                            </div>
                        </div>
                    </div>
                    <div class="right5partbox">
                        <div class="parah">
                            <p class="redpara">【乾かすだけでキマる】×【無駄にお金は使わせない】必要最低限のメニューで最高のhairを追求する実力派★</p>
                        </div>
                        <div class="rank">
                            <div class="yonko">
                                <div class="niko">
                                    <p class="money"><i class="fas fa-yen-sign"></i> 料金<a href="{% url 'plan' %}" class="yen">¥2,500〜</a></p>
                                    <p class="money"><i class="fas fa-comments"></i> 口コミ<a href="{% url 'review' %}" class="yen">20件</a></p>
                                </div>
                                <div class="niko1">
                                    <p class="money"><i class="fas fa-th"></i> ブログ<a href="{% url 'blog' %}" class="yen">10件</a></p>
                                    <p class="money"><i class="fas fa-user"></i> スタッフ<a href="{% url 'staff' %}" class="yen">10件</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="paragraph">
                            <p class="blackpara">【乾かすだけでキマる】にこだわり【本当に必要なメニュー】を見極め【無駄にお金は使わせない】本格派サロン。モダンで落ち着いた空間が心地良さを演出させます。<br>【乾かすだけでキマる】×【無駄にお金は使わせない】必要最低限のメニューで最高のhairを追求する実力派★</p>
                        </div>
                        <div class="starbox">
                            <p class="hyouka"><i class="far fa-star"></i>　総合　<em class="star">★ ★ ★ ★</em></p>
                            <div class="starbox0">
                                <div class="starbox1">
                                    <p class="money"><i class="fas fa-yen-sign"></i>　料金　<em class="star">★ ★ ★</em></p>
                                    <p class="money"><i class="fas fa-pray"></i>　丁寧　<em class="star">★ ★ ★ ★</em></p>
                                </div>
                                <div class="starbox2">
                                    <p class="money"><i class="fas fa-briefcase"></i>　技術　<em class="star">★ ★</em></p>
                                    <p class="money"><i class="fas fa-user-friends"></i>　接客　<em class="star">★ ★ ★ ★ ★</em></p>
                                </div>
                            </div>
                        </div>
                        <div class="planbox">
                            <div class="name-next">
                                <p class="onename">
                                    Casy【カジー】のプラン
                                </p>
                                <p class="allnext">
                                    <em class="pink">▶</em><a href="{% url 'plan' %}" class="allnext1">　一覧へ</a>
                                </p>
                            </div>
                            <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'plan' %}" class="planpara1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！¥1,800〜【水回り掃除+1食】</a></p>
                            <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'plan' %}" class="planpara1">【【U22】若ママ応援プラン育児2時間お任せください！¥3,000〜【育児2時間】</a></p>
                            <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'plan' %}" class="planpara1">【【学生限定】激安部屋掃除プラン(夕飯付き)！¥2,000〜【部屋掃除+1食】</a></p>
                        </div>
                    </div>
                </div>
                <div class="three">
                    <p class="order1">Casy【カジー】のSTAFF</p>
                </div>
                <div class="allstaff">
                    <div class="staff">
                        <img src="../../picture/yamap.jpeg" class="staff1">
                        <p class="hito"><a href="{% url 'sdetail' %}" class="color">山下 智久</a></p>
                        <p class="yakusyoku"><em class="meizi">代表</em> (歴10年)</p>
                        <p class="prof">風呂掃除は業界No.1の実力を持った愛され男</p>
                        <a href="{% url 'reserve' %}" class="click"><button type="button" class="heart9">指名して予約へ進む</button></a>
                    </div>
                    <div class="staff">
                        <img src="../../picture/kitagawa.jpg" class="staff1">
                        <p class="hito"><a href="{% url 'sdetail' %}" class="color">北川 景子</a></p>
                        <p class="yakusyoku"><em class="meizi">店長</em> (歴8年)</p>
                        <p class="prof">風呂掃除は業界No.1の実力を持った愛され男</p>
                        <a href="{% url 'reserve' %}" class="click"><button type="button" class="heart9">指名して予約へ進む</button></a>
                    </div>
                    <div class="staff">
                        <img src="../../picture/syouri.png" class="staff1">
                        <p class="hito"><a href="{% url 'sdetail' %}" class="color">佐藤 勝利</a></p>
                        <p class="yakusyoku"><em class="meizi">エース</em> (歴5年)</p>
                        <p class="prof">風呂掃除は業界No.1の実力を持った愛され男</p>
                        <a href="{% url 'reserve' %}" class="click"><button type="button" class="heart9">指名して予約へ進む</button></a>
                    </div>
                    <div class="staff">
                        <img src="../../picture/horikita.jpg" class="staff1">
                        <p class="hito"><a href="{% url 'sdetail' %}" class="color">堀北 真希</a></p>
                        <p class="yakusyoku"><em class="meizi">見習い</em> (歴3年)</p>
                        <p class="prof">風呂掃除は業界No.1の実力を持った愛され男</p>
                        <a href="{% url 'reserve' %}" class="click"><button type="button" class="heart9">指名して予約へ進む</button></a>
                    </div>
                </div>
                <div class="three">
                    <p class="order1">Casy【カジー】のプラン</p>
                </div>
                <div class="flex10">
                    <div class="last">
                        <div class="info2">
                            <div class="sinki">
                                新規
                            </div>
                            <div class="gene">
                                <p class="red">育児代行</p>
                                <p class="serihu1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</p>
                                <div class="zyouken">
                                    <img src="../../picture/ikuzi.jpg" class="ikuzi">
                                    <p class="simekiri">
                                        プロの掃除機械や技術を持っていきます!!<br><br>
                                        <be></be><br><em class="meizi">利用条件</em> : 初回利用のみ
                                        <br><em class="meizi">有効期限</em> : 2019年3月末まで
                                    </p>
                                </div>
                            </div>
                            <div class="part">
                                <p class="serihu3">¥ 3,000</p>
                            </div>
                            <div class="buton">
                                <a href="{% url 'rdate' %}" class="click"><button type="button" class="buton1">このクーポンを<br>利用して予約へ進む</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex10">
                    <div class="last">
                        <div class="info2">
                            <div class="sinki">
                                新規
                            </div>
                            <div class="gene">
                                <p class="red">育児代行</p>
                                <p class="serihu1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</p>
                                <div class="zyouken">
                                    <img src="../../picture/ikuzi.jpg" class="ikuzi">
                                    <p class="simekiri">
                                        プロの掃除機械や技術を持っていきます!!<br><br>
                                        <be></be><br><em class="meizi">利用条件</em> : 初回利用のみ
                                        <br><em class="meizi">有効期限</em> : 2019年3月末まで
                                    </p>
                                </div>
                            </div>
                            <div class="part">
                                <p class="serihu3">¥ 3,000</p>
                            </div>
                            <div class="buton">
                                <a href="{% url 'rdate' %}" class="click"><button type="button" class="buton1">このクーポンを<br>利用して予約へ進む</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex10">
                    <div class="last">
                        <div class="info2">
                            <div class="sinki">
                                新規
                            </div>
                            <div class="gene">
                                <p class="red">育児代行</p>
                                <p class="serihu1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</p>
                                <div class="zyouken">
                                    <img src="../../picture/ikuzi.jpg" class="ikuzi">
                                    <p class="simekiri">
                                        プロの掃除機械や技術を持っていきます!!<br><br>
                                        <be></be><br><em class="meizi">利用条件</em> : 初回利用のみ
                                        <br><em class="meizi">有効期限</em> : 2019年3月末まで
                                    </p>
                                </div>
                            </div>
                            <div class="part">
                                <p class="serihu3">¥ 3,000</p>
                            </div>
                            <div class="buton">
                                <a href="{% url 'rdate' %}" class="click"><button type="button" class="buton1">このクーポンを<br>利用して予約へ進む</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="three">
                    <p class="order1">Casy【カジー】の会社情報</p>
                </div>
            </div>
                <table>
                    <tr>
                        <th>電話番号</th>
                        <td>　03-1508-0334</td>
                    </tr>
                    <tr>
                        <th>本社</th>
                        <td>　東京都渋谷区初台3−22−9</td>
                    </tr>
                    <tr>
                        <th>創業</th>
                        <td>　1999年</td>
                    </tr>
                    <tr>
                        <th>クレジットカード</th>
                        <td>　VISA／MasterCard／JCB／American Express／Diners </td>
                    </tr>
                    <tr>
                        <th>ホームページ</th>
                        <td>　http/////..sdckdmfkmwjdmc</td>
                    </tr>
                    <tr>
                        <th>従業員数</th>
                        <td>　30人</td>
                    </tr>
                    <tr>
                        <th>営業時間</th>
                        <td>　24時間年中無休</td>
                    </tr>
                </table>
                    <div class="threethree">
                        <p class="order7">サービス概要</p>
                        <div class="service">
                        <br><em class="naturalinfo">基本情報</em><br>
                        <br>・毎週1回、お客様の不在時にお伺いして掃除をするサービスです。<br>
                        ・毎週決まった曜日（平日）にお伺いします。（お伺いする曜日はエリアによって異なります。）<br>
                        ・部屋の間取りが1R/1K/1DK/1LDK（40㎡未満）が対象となります。（それ以上の場合は個別お見積りいたします）<br>
                        ・サービスエリアは東京23区となります。<br>
                        <br><em class="naturalinfo">鍵・貴重品の管理</em><br>
                        <br>・不在時のサービスの場合、サービス開始時にお客様から合鍵をお預かりします。（鍵は当社にて厳重管理いたします。）<br>
                        ・万が一のトラブルを回避するために、お部屋にある貴重品は鍵のかかるところに保管してください。<br>
                        <br><em class="naturalinfo">掃除用具</em><br>
                        <br>・掃除機（クイックルワイパー）、トイレブラシ、お風呂スポンジ、および洗剤、ゴミ袋などの消耗品は、お客様にご準備頂きます。（買い物代行324円をご利用していただくことも可能です。）<br>
                        </div>
                    </div>
                    <div class="threethree">
                        <p class="order7">お支払いに関して</p>
                        <div class="service">
                        <br>・翌月27日（金融機関が休みの場合は翌営業日）に前月1カ月分の代金を指定口座から引き落とします。<br>
                        ・サービスのお申し込み時に、口座振替依頼書をご記入いただきます。
                        </div>
                    </div>
                    <div class="threethree">
                        <p class="order7">キャンセル・解約に関して</p>
                        <div class="service">
                        <br><em class="naturalinfo">キャンセル</em><br>
                        <br>・サービス実施日の1週間前の18時まではキャンセルは無料です。それ以降のキャンセルの場合はキャンセル料として全額頂きます。<br>
                        <br><em class="naturalinfo">解約</em><br>
                        <br>・サービス実施日の1週間前の18時までにご解約の申し出があった場合は、翌週からサービスがストップいたします。<br>
                        </div>
                    </div>
                    <div class="threethree">
                        <p class="order7">セキュリティ対策</p>
                        <div class="service">
                        <br><em class="naturalinfo">1. お預かりする鍵にはココセコムを付けて厳重管理をいたします。</em><br>
                        <br>・お客様から鍵をお預かりする際は、シリアル番号まで記載した「鍵預り証」を発行いたします。（鍵はお客様でご用意願います。当社で複製は行っておりません）<br>
                        ・お預かりした鍵は、ココセコムに取り付けて、担当スタッフが厳重に管理いたします。万が一盗難・紛失等が起こった場合、ココセコムの位置検索サービスにて即座に場所を把握し、当社スタッフまたはセコムの緊急対処員がかけつけることで被害を最小限におさえます。またその場合、損害賠償請求に関する法律に基づき、必要に応じてお客様のご自宅の鍵をお取替え致します。<br>
                        ・スタッフには、鍵に第三者がお客様を特定できる情報を記載することや、それらの情報が記載された書類等といっしょに鍵を持ち歩くことを契約により禁止しています<br>
                        <br><em class="naturalinfo">2. サービス中のスタッフによる物損・紛失事故は、当社が責任を持ちます。</em><br>
                        <br>・サービス中にサービススタッフの故意または著しい過失によって、お客様宅にある物に損害を与えた場合、事実関係と賠償責任保険に基づいて保険会社から受け取った保険金額を限度として、当社が当該損害を賠償いたします。<br>
                        ・現金・貴重品・貴金属類、個人情報や機密事項が記載された書類・データ類、金銭で代替することのできない物品等は、サービススタッフの手の届かない保管場所に保管していただくようお願い申し上げます。<br>
                        <br><em class="naturalinfo">3. 個人情報の取り扱いは、契約と規則により徹底管理いたします。</em><br>
                        <br>・サービススタッフとは、採用時において顧客情報に関する機密保持契約を結んでおり、お客様情報を外部に漏らすことはございません。また、サービス規約に則った掃除箇所もしくは別途お客様からご指示いただいた掃除箇所以外は絶対に触れることのないように徹底しております。<br>
                        ・当社は個人情報保護法について、規則の制定及び管理体制の確立に努めております。当社全従業者が遵守すべき行動基準として本個人情報保護方針を定め、その遵守の徹底を図ることといたします。<br>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}