{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <div class="company-detail">
            <div class="fade" id="fade">
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
            </div>
            <div class="company-top-1">
                <span class="left">
                    <p>渋谷　>　道玄坂・明治通り</p>
                    <a href="{% url 'enterprise' %}">Casy 【カジー】</a>
                    <div>
                        <p class="point">即時予約OK!</p>
                        <p class="point1">ポイント加盟店</p>
                        <p class="point2">メンズにもオススメ</p>
                    </div>
                </span>
                <span class="right">
                    <div class="buttonbox">
                        <a href="../contact/chat-customer.html"><button class="chat"><i class="far fa-comments"></i>　チャット</button></a>
                        <button class="favorite2"><i class="far fa-heart"></i>  お気に入り</button>
                    </div>
                </span>
            </div>
        </div>
        <ol class="step">
            <li>プラン選択</li>
            <li class="is-current">日時・代行者指定</li>
            <li>お客様情報確認</li>
            <li>予約内容確認</li>
            <li>予約完了</li>
        </ol>
        <h1>選択中プラン</h1>
        <div class="coupon">
            <div class="label">
                新規
            </div>
            <div class="genre">
                <span>
                    <p>育児代行</p>
                    <div>¥ 3,000</div>
                </span>
                <p>【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</p>
                <div>
                    <img src="{% static 'picture/ikuzi.jpg' %}">
                    <div>
                        <p>プロの掃除機械や技術を持っていきます!!</p>
                        <div><em>利用条件</em> : 初回利用のみ</div>
                        <div><em>有効期限</em> : 2019年3月末まで</div>
                    </div>
                </div>
            </div>
            <div class="coupon-button">
                <a href="{% url 'reserve' %}"><button class="pink-Button">プランを変更する</button></a>
            </div>
        </div>
        <h1>空き状況<a href="{% url 'rddetail' %}" class="h1-a">代行者別空き状況</a></h1>
        <div class="calender">
            カレンダー(API)
        </div>
        <div class="center-button">
            <a href="{% url 'rpayment' %}"><button class="pink-Button">お客様情報の確認</button>
        </div>
    </div>
{% endblock %}