{% extends "../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <div class="article">
            <div>
                <div class="article-table">【会員登録ありがとうございます】</div>
                <div class="article-detail">
                    会員登録ありがとうございます！<br>
                    <br>記入頂いたメールアドレス宛に確認メールを送信しましたので
                    確認の方よろしくおねがいします。<br>
                    <br>確認が終わりましたら、下記ボタンにて
                    ホームへ戻り、ログインしてください。<br><br>
                    <br>ログイン完了次第、いつでも当サイトを
                    ご利用いただけます。
                </div>
                <div class="center-button">
                    <a href="{% url 'index' %}"><button class="pinkButton">HOME</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}