<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../css/search-result/search.css">
        <link rel="shortcut icon" href="../../picture/favicon.ico">
        <title>【DAICO】代行業を一括で検索・比較出来るサイト</title>
        <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
            <header>
                    <div class="logo">
                        <div class="homebox">
                            <a href="../home/before-login.html"><img src="../../picture/daico.png" class="homebox1"></a>
                        </div>
                        <div class="get">
                                <div class="logo0">
                                    <a class="login2" id="login-show"><i class="fas fa-user-circle"></i>   新規会員登録(無料)</a>
                                </div>
                                <div class="logo00">
                                    <a class="login" id="login-show2"><i class="fas fa-sign-in-alt"></i> ログイン</a>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="login-modal-wrapper" id="login-modal">
                        <div class="modal">
                            <div class="close-modal">
                                <i class="fa fa-2x fa-times"></i>
                            </div>
                            <div id="login-form">
                                <h2>新規会員登録</h2>
                                <form action="#">
                                    <input class="form-control" type="text" placeholder="名前">
                                    <input class="form-control" type="text" placeholder="メールアドレス">
                                    <input class="form-control" type="password" placeholder="パスワード">
                                    <a href="../../html/register/after-registration.html"><div id="submit-btn">登録</div></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="login-modal-wrapper" id="login-modal2">
                        <div class="modal">
                            <div class="close-modal2">
                                <i class="fa fa-2x fa-times"></i>
                            </div>
                            <div id="login-form">
                                <h2>Emailログイン</h2>
                                <form action="#">
                                    <input class="form-control" type="text" placeholder="メールアドレス">
                                    <input class="form-control" type="password" placeholder="パスワード">
                                    <a href="after-login.html"><div id="submit-btn">ログイン</div></a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <nav class="template">
                        <div id="menu">
                            <div class="just"><a href="../favorite/favorite.html" class="favorite"><i class="far fa-heart"></i>  <span class="sp">お気に入り</span></a></div>
                            <div class="just"><a href="../notification/store.html" class="notice"><i class="far fa-envelope"></i>  <span class="sp">通知</span></a></div>
                            <div class="just3"><a href="../home/before-login.html" class="home"><span class="sp"><img src="../../picture/pinklogo.png" class="daico"></span></a></div>
                            <div class="just just4"><a href="../home/before-login.html" class="favorite"><i class="fas fa-home"></i><span class="sp">ホーム</span></a></div>
                            <div class="just"><a href="../order-history/order.html" class="order-history"><i class="fas fa-history"></i>  <span class="sp">注文履歴</span></a></div>
                            <div class="just"><a href="../setting/setting.html" class="my-page"><i class="fas fa-cogs"></i>  <span class="sp">設定</span></a></div>
                        </div>
                    </nav>
                    <div class="three">
                        <p class="order1">家事代行の検索結果<em class="suuti"> 60</em> 件 あります</p>
                    </div>
                    <table>
                        <tr>
                            <th>詳細ジャンル</th>
                            <td>　<em class="selectone">すべて</em>　|　水回り　|　部屋掃除　|　ジャンルの詳細を選択する</td>
                        </tr>
                        <tr>
                            <th>エリア</th>
                            <td>　<em class="selectone">すべて</em>　|　東京　|　北海道　|　エリアを選択する</td>
                        </tr>
                        <tr>
                            <th>日付</th>
                            <td>　<em class="selectone">日付未定</em>　|　4月10日　|　4月11日　|　日付を選択する</td>
                        </tr>
                        <tr>
                            <th>開始時刻</th>
                            <td class="time">
                                <select name="time">
                                    <option value="">-</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="0">0</option>
                                </select>〜          
                                <select name="time">
                                    <option value="">-</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="0">0</option>
                                </select>で開始時刻を選択
                            </td>
                        </tr>
                        <tr>
                            <th>メニュー料金</th>
                            <td>　メニュー料金を選択する </td>
                        </tr>
                    </table>
                        <div class="sortflex">
                            <a href="{% url 'search' %}" class="onehover"><div class="cheap">標準</div></a>
                            <a href="../search-result/recommend.html" class="onehover"><div class="recommend">おすすめ順</div></a>
                            <a href="../search-result/{% url 'review' %}" class="onehover"><div class="review">口コミが高い順</div></a>
                            <div class="natural">料金が安い順</div>
                            <a href="../search-result/high.html" class="onehover"><div class="high">料金が高い順</div></a>
                        </div>
                        <div class="three">
                            <p class="order1">家事代行の絞り込み検索結果<em class="suuti"> 40</em> 件 あります</p>
                            <footer id="navi_footer">
                                <a href="#" class="page1">1/10ページ</a>
                                <a href="#" class="page3">次へ</a>
                            </footer>
                        </div>
                        <div class="allbox">
                            <div class="topbox">
                                <div class="leftbox">
                                    <div class="erea">
                                        <p class="sibuya">渋谷　>　道玄坂・明治通り</p>
                                    </div>
                                    <div class="storename">
                                        <p class="casy"><a href="{% url 'company' %}" class="casy1">Casy 【カジー】</a></p>
                                    </div>
                                    <div class="storetype">
                                        <p class="strongpoint">即時予約OK!</p>
                                        <p class="strongpoint1">ポイント加盟店</p>
                                        <p class="strongpoint2">メンズにもオススメ</p>
                                    </div>
                                </div>
                                <div class="rightbox">
                                    <div class="bottonbox">
                                        <p class="favoriteadd"><button type="button"class="heart"><i class="far fa-heart"></i>  お気に入り</button></p>
                                    </div>
                                </div>
                            </div>
                            <div class="bottombox">
                                <div class="leftphotos">
                                    <div class="leftphoto">
                                        <img src="../../picture/horikita.jpg" class="photo1">
                                    </div>
                                    <div class="slide">
                                        <div class="leftphoto2">
                                            <img src="../../picture/kazi.png" class="photo2">
                                        </div>
                                        <div class="leftphoto3">
                                            <img src="../../picture/ikuzi.jpg" class="photo3">
                                        </div>
                                    </div>
                                </div>
                                <div class="right5partbox">
                                    <div class="parah">
                                        <p class="redpara">【乾かすだけでキマる】×【無駄にお金は使わせない】必要最低限のメニューで最高のhairを追求する実力派★</p>
                                    </div>
                                    <div class="rank">
                                        <div class="yonko">
                                            <div class="niko">
                                                <p class="money"><i class="fas fa-yen-sign"></i> 料金<a href="{% url 'plan' %}" class="yen">¥2,500〜</a></p>
                                                <p class="money"><i class="fas fa-comments"></i> 口コミ<a href="{% url 'review' %}" class="yen">20件</a></p>
                                            </div>
                                            <div class="niko">
                                                <p class="money"><i class="fas fa-th"></i> ブログ<a href="{% url 'blog' %}" class="yen">10件</a></p>
                                                <p class="money"><i class="fas fa-user"></i> スタッフ<a href="{% url 'staff' %}" class="yen">10件</a></p>
                                            </div>
                                        </div>
                                        <div class="buttonbox">
                                            <a href="{% url 'company' %}" class="a">
                                                <button type="botton" class="styled">
                                                    会社詳細へ
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="paragraph">
                                        <p class="blackpara">【乾かすだけでキマる】にこだわり【本当に必要なメニュー】を見極め【無駄にお金は使わせない】本格派サロン。モダンで落ち着いた空間が心地良さを演<a href="{% url 'company' %}" class="allnext1">...続きを読む</a></p>
                                    </div>
                                    <div class="starbox">
                                        <p class="hyouka"><i class="far fa-star"></i>　総合　<em class="star">★ ★ ★ ★</em></p>
                                        <div class="starbox0">
                                            <div class="starbox1">
                                                <p class="money"><i class="fas fa-yen-sign"></i>　料金　<em class="star">★ ★ ★</em></p>
                                                <p class="money"><i class="fas fa-pray"></i>　丁寧　<em class="star">★ ★ ★ ★</em></p>
                                            </div>
                                            <div class="starbox1">
                                                <p class="money"><i class="fas fa-briefcase"></i>　技術　<em class="star">★ ★</em></p>
                                                <p class="money"><i class="fas fa-user-friends"></i>　接客　<em class="star">★ ★ ★ ★ ★</em></p>
                                            </div>
                                            <div class="buttonbox">
                                                <a href="{% url 'reserve' %}" class="a">
                                                    <button type="botton" class="styled">
                                                        予約・日時
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="planbox">
                                        <div class="name-next">
                                            <p class="onename">
                                                Casy【カジー】のプラン
                                            </p>
                                            <p class="allnext">
                                                <em class="pink">▶</em><a href="{% url 'plan' %}" class="allnext1">　一覧へ</a>
                                            </p>
                                        </div>
                                        <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'plan' %}" class="planpara1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！¥1,800〜【水回り掃除+1食】</a></p>
                                        <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'plan' %}" class="planpara1">【【U22】若ママ応援プラン育児2時間お任せください！¥3,000〜【育児2時間】</a></p>
                                        <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'plan' %}" class="planpara1">【【学生限定】激安部屋掃除プラン(夕飯付き)！¥2,000〜【部屋掃除+1食】</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="allbox">
                                <div class="topbox">
                                    <div class="leftbox">
                                        <div class="erea">
                                            <p class="sibuya">渋谷　>　道玄坂・明治通り</p>
                                        </div>
                                        <div class="storename">
                                            <p class="casy"><a href="{% url 'company' %}" class="casy1">Kidsline 【キッズライン】</a></p>
                                        </div>
                                        <div class="storetype">
                                            <p class="strongpoint">即時予約OK!</p>
                                            <p class="strongpoint1">ポイント加盟店</p>
                                            <p class="strongpoint2">若ママにもオススメ</p>
                                        </div>
                                    </div>
                                    <div class="rightbox">
                                        <div class="bottonbox">
                                            <p class="favoriteadd"><button type="button"class="heart"><i class="far fa-heart"></i>  お気に入り</button></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottombox">
                                    <div class="leftphotos">
                                        <div class="leftphoto">
                                            <img src="../../picture/kitagawa.jpg" class="photo1">
                                        </div>
                                        <div class="slide">
                                            <div class="leftphoto2">
                                                <img src="../../picture/youtube.png" class="photo2">
                                            </div>
                                            <div class="leftphoto3">
                                                <img src="../../picture/disney.jpg" class="photo3">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right5partbox">
                                        <div class="parah">
                                            <p class="redpara">【乾かすだけでキマる】×【無駄にお金は使わせない】必要最低限のメニューで最高のhairを追求する実力派★</p>
                                        </div>
                                        <div class="rank">
                                            <div class="yonko">
                                                <div class="niko">
                                                    <p class="money"><i class="fas fa-yen-sign"></i> 料金<a href="{% url 'plan' %}" class="yen">¥2,500〜</a></p>
                                                    <p class="money"><i class="fas fa-comments"></i> 口コミ<a href="{% url 'review' %}" class="yen">20件</a></p>
                                                </div>
                                                <div class="niko">
                                                    <p class="money"><i class="fas fa-th"></i> ブログ<a href="{% url 'blog' %}" class="yen">10件</a></p>
                                                    <p class="money"><i class="fas fa-user"></i> スタッフ<a href="{% url 'staff' %}" class="yen">10件</a></p>
                                                </div>
                                            </div>
                                            <div class="buttonbox">
                                                <a href="{% url 'company' %}" class="a">
                                                    <button type="botton" class="styled">
                                                        会社詳細へ
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="paragraph">
                                            <p class="blackpara">【乾かすだけでキマる】にこだわり【本当に必要なメニュー】を見極め【無駄にお金は使わせない】本格派サロン。モダンで落ち着いた空間が心地良さを演<a href="{% url 'company' %}" class="allnext1">...続きを読む</a></p>
                                        </div>
                                        <div class="starbox">
                                            <p class="hyouka"><i class="far fa-star"></i>　総合　<em class="star">★ ★ ★ ★</em></p>
                                            <div class="starbox0">
                                                <div class="starbox1">
                                                    <p class="money"><i class="fas fa-yen-sign"></i>　料金　<em class="star">★ ★ ★</em></p>
                                                    <p class="money"><i class="fas fa-pray"></i>　丁寧　<em class="star">★ ★ ★ ★</em></p>
                                                </div>
                                                <div class="starbox1">
                                                    <p class="money"><i class="fas fa-briefcase"></i>　技術　<em class="star">★ ★</em></p>
                                                    <p class="money"><i class="fas fa-user-friends"></i>　接客　<em class="star">★ ★ ★ ★ ★</em></p>
                                                </div>
                                                <div class="buttonbox">
                                                    <a href="{% url 'reserve' %}" class="a">
                                                        <button type="botton" class="styled">
                                                            予約・日時
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="planbox">
                                            <div class="name-next">
                                                <p class="onename">
                                                    Casy【カジー】のプラン
                                                </p>
                                                <p class="allnext">
                                                    <em class="pink">▶</em><a href="{% url 'plan' %}" class="allnext1">　一覧へ</a>
                                                </p>
                                            </div>
                                            <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'plan' %}" class="planpara1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！¥1,800〜【水回り掃除+1食】</a></p>
                                            <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'plan' %}" class="planpara1">【【U22】若ママ応援プラン育児2時間お任せください！¥3,000〜【育児2時間】</a></p>
                                            <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'plan' %}" class="planpara1">【【学生限定】激安部屋掃除プラン(夕飯付き)！¥2,000〜【部屋掃除+1食】</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                <script src="../../javascript/favorite.js"></script>
                <script src="../../javascript/login.js"></script>
    </body>
</html>