{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <div class="company-detail">
            <div class="fade" id="fade">
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
            </div>
            <div class="company-top-1">
                <span class="left">
                    <p>渋谷　>　道玄坂・明治通り</p>
                    <a href="{% url 'enterprise' %}">Casy 【カジー】</a>
                    <div>
                        <p class="point">即時予約OK!</p>
                        <p class="point1">ポイント加盟店</p>
                        <p class="point2">メンズにもオススメ</p>
                    </div>
                </span>
                <span class="right">
                    <div class="buttonbox">
                        <a href="../contact/chat-customer.html"><button class="chat"><i class="far fa-comments"></i>　チャット</button></a>
                        <button class="favorite2"><i class="far fa-heart"></i>  お気に入り</button>
                    </div>
                </span>
            </div>
        </div>
        <ol class="step">
            <li>プラン選択</li>
            <li>日時・代行者指定</li>
            <li>お客様情報確認</li>
            <li class="is-current">予約内容確認</li>
            <li>予約完了</li>
        </ol>
        <h1>予約内容を確認してください</h1>
        <table>
            <tr>
                <th>代行日時</th>
                <td>　3月31日　16時~18時</td>
            </tr>
            <tr>
                <th>代行場所</th>
                <td>　東京都渋谷区初台3−22−9</td>
            </tr>
            <tr>
                <th>ご利用プラン</th>
                <td>　【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</td>
            </tr>
            <tr>
                <th>代行者</th>
                <td>　山下智久 </td>
            </tr>
            <tr>
                <th>金額</th>
                <td>　¥ 3,000</td>
            </tr>
            <tr>
                <th>支払い予定金額</th>
                <td>　¥ 3,000</td>
            </tr>
            <tr>
                <th>予約者名</th>
                <td>　高田　崇照</td>
            </tr>
            <tr>
                <th>予約者電話番号</th>
                <td>　090-6566-8268</td>
            </tr>
        </table>
        <div class="center-button">
            <a href="{% url 'rdone' %}"><button class="pink-Button">予約完了</button></a>
        </div>
    </div>
{% endblock %}

        