{% extends "../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="flex1">
        <div class="three">
            <p class="order1">お客様情報</p>
        </div>
        <table>
            <tr>
                <th>代行日時</th>
                <td>　3月31日　16時~18時</td>
            </tr>
            <tr>
                <th>代行場所</th>
                <td>　東京都渋谷区初台3−22−9</td>
            </tr>
            <tr>
                <th>金額</th>
                <td>　￥ 3000</td>
            </tr>
            <tr>
                <th>支払い予定金額</th>
                <td>　￥ 3000</td>
            </tr>
            <tr>
                <th>支払い方法</th>
                <td>　クレジットカード</td>
            </tr>
            <tr>
                <th>予約者名</th>
                <td>　高田崇照</td>
            </tr>
            <tr>
                <th>予約者電話番号</th>
                <td>　090-6566-8268</td>
            </tr>
        </table>
        <div class="flex10">
            <div class="last">
                <div class="info2">
                    <div class="sinki">
                        新規
                    </div>
                    <div class="gene">
                        <p class="red">育児代行</p>
                        <p class="serihu1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</p>
                        <div class="zyouken">
                            <img src="{% static 'picture/ikuzi.jpg' %}" class="ikuzi">
                            <p class="simekiri">
                                プロの掃除機械や技術を持っていきます!!<br><br>
                                <be></be><br><em class="meizi">代行日時</em> : 2019年4月29日
                                <br><em class="meizi">代行者</em> : 小栗 旬
                            </p>
                        </div>
                    </div>
                    <div class="part">
                        <p class="serihu3">¥ 3,000</p>
                    </div>
                    <div class="buton">
                        <a href="" class="click"><button type="button" class="buton1">詳細を見る</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}