{% extends "../../../company-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <div class="company-detail">
            <div class="fade" id="fade">
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
                <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
            </div>
            <div class="company-top-1">
                <span class="left">
                    <p>渋谷　>　道玄坂・明治通り</p>
                    <a href="">Casy 【カジー】</a>
                    <div>
                        <p class="point">即時予約OK!</p>
                        <p class="point1">ポイント加盟店</p>
                        <p class="point2">メンズにもオススメ</p>
                    </div>
                </span>
                <span class="right">
                    <div class="buttonbox">
                        <button class="favorite2"><i class="far fa-heart"></i>  お気に入り</button>
                        <a href=""><button class="reserve">予約・日時指定へ</button></a>
                    </div>
                </span>
            </div>
        </div>
        <div class="company-menu">
            <p><a href="{% url 'company' %}"><i class="fas fa-building"></i> 会社詳細</a></p>
            <p><a href="{% url 'coupon' %}"><i class="fas fa-scroll"></i> プラン一覧</a></p>
            <p><a href="{% url 'player' %}"><i class="fas fa-user"></i> スタッフ一覧</a></p>
            <p><a href="{% url 'valuation' %}"><i class="fas fa-comments"></i> 口コミ</a></p>
            <p class="last"><a href="{% url 'read' %}"><i class="fas fa-pencil-alt"></i> ブログ</a></p>
        </div>
        <h1><em>100</em> 件　のブログがあります</h1>
        <div class="article">
            <span>
                <span>
                    <a href="{% url 'redetail' %}" class="article-page">
                        <img src="{% static 'picture/oko.jpg' %}" class="oko">
                        <span>
                            <div>
                                <p class="category-tag">重要</p>
                                <div>投稿者 : 山下智久</div>
                            </div>
                            <p>何でも取れるシミ抜き剤</p>
                            <p>今日は店舗メンバーみんなへの研修を行いました！</p>
                        </span>
                    </a>
                    <a href="{% url 'redetail' %}" class="article-page">
                        <img src="{% static 'picture/oko.jpg' %}" class="oko">
                        <span>
                            <div>
                                <p class="category-tag">重要</p>
                                <p>投稿者 : 山下智久</p>
                            </div>
                            <p>何でも取れるシミ抜き剤</p>
                            <p>今日は店舗メンバーみんなへの研修を行いました！</p>
                        </span>
                    </a>
                </span>
                <div class="category">
                    <p class="category-title">記事カテゴリ</p>
                    <p><a href="#">家事裏技 (12)</a></p>
                    <p><a href="#">育児裏技 (7)</a></p>
                    <p><a href="#">家事裏技 (12)</a></p>
                    <p><a href="#">育児裏技 (7)</a></p>
                    <p><a href="#">家事裏技 (12)</a></p>
                    <p><a href="#">育児裏技 (7)</a></p>
                    <p class="category-title">スタッフ</p>
                    <p><a href="#">山下智久 (12)</a></p>
                    <p><a href="#">北川景子 (7)</a></p>
                    <p><a href="#">佐藤勝利 (12)</a></p>
                    <p><a href="#">堀北真希 (7)</a></p>
                </div>
            </span>
        </div>
    </div>
{% endblock %}