{% extends "../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <h1>掲載企業一覧</h1>
        <div class="coupon">
            <div class="genre">
                <p>Kidsline【キッズライン】</p>
                <div>
                    <div>
                        <div><em>担当者</em> : 菅田将暉</div>
                        <div><em>電話番号</em> : 03-1508-0334</div>
                        <div><em>ホームページ</em> : http/////..sdckdmfkmwjdmc</div>
                    </div>
                </div>
            </div>
            <div class="coupon-button">
                <a href="{% url 'pdetail' %}"><button class="pink-Button">会社詳細</button></a>
            </div>
        </div>
        <div class="coupon">
            <div class="genre">
                <p>Casy【カジー】</p>
                <div>
                    <div>
                        <div><em>担当者</em> : 菅田将暉</div>
                        <div><em>電話番号</em> : 03-1508-0334</div>
                        <div><em>ホームページ</em> : http/////..sdckdmfkmwjdmc</div>
                    </div>
                </div>
            </div>
            <div class="coupon-button">
                <a href="{% url 'pdetail' %}"><button class="pink-Button">会社詳細</button></a>
            </div>
        </div>
    </div>
{% endblock %}