{% extends "../../company-base.html" %}
{% block body %}
{% load static %}
    <div class="allbox">
        <div class="fade">
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
        </div>
        <div class="topbox">
            <div class="leftbox">
                <div class="erea">
                    <p class="sibuya">渋谷　>　道玄坂・明治通り</p>
                </div>
                <div class="storename">
                    {% for company_data in company_datas %}
                        <p class="casy"><a href="" class="casy1">{{ company_data.name}}</a></p>
                    {% endfor %}
                </div>
                <div class="storetype">
                    <p class="strongpoint">即時予約OK!</p>
                    <p class="strongpoint1">ポイント加盟店</p>
                    <p class="strongpoint2">メンズにもオススメ</p>
                </div>
            </div>
            <div class="rightbox">
                <div class="bottonbox">
                    <p class="favoriteadd"><button type="button"class="heart"><i class="far fa-heart"></i>  お気に入り</button></p>
                </div>
                <div class="bottonbox">
                    <p class="favoriteadd"><a href=""><button type="button"class="heart8">予約・日時指定へ</button></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex1">
        <div class="last">
            <div class="info">
                <nav class="daicomenu">
                    <ul>
                        <li class="li1"><a href="{% url 'compilation' %}" class="lih1"><i class="fas fa-building"></i> 会社詳細</a></li>
                        <li><a href="{% url 'compon' %}" class="lih2"><i class="fas fa-scroll"></i> プラン一覧</a></li>
                        <li><a href="{% url 'complay' %}" class="lih2"><i class="fas fa-user"></i> スタッフ一覧</a></li>
                        <li><a href="{% url 'comvalua' %}" class="lih2"><i class="fas fa-comments"></i> 口コミ</a></li>
                        <li><a href="{% url 'comre' %}" class="lih2"><i class="fas fa-pencil-alt"></i> ブログ</a></li>
                    </ul>
                </nav>
                <div class="bottonbox">
                    <p class="favoriteadd"><a><button type="button" class="heart8" id="modalopen10">編集</button></a></p>
                    <div class="modal10" id="modal-open">
                        <div class="overLay10 modalClose10"></div>
                        <div class="inner10">
                            <h1>編集ページ</h1>
                            <p><label>会社名：<input class="form-control" type="text" placeholder="会社名を記入してください"></label></p>
                            <p><label>PR文：<input class="form-control" type="text" placeholder="PR文を記入してください"></label></p>
                            <p><label>電話番号：<input class="form-control" type="text" placeholder="ex.090-XXXX-XXXX"></label></p>
                            <p><label>料金：<input class="form-control" type="text" placeholder="ex.¥2500~10000"></label></p>
                            <p><label>住所：<input class="form-control" type="text" placeholder="ex.東京都渋谷区初台1-15-2"></label></p>
                            <p><label>創業年：<input class="form-control" type="text" placeholder="ex.1997年"></label></p>
                            <p><label>クレジットカード：<input class="form-control" type="text" placeholder="ex.VISA／MasterCard／"></label></p>
                            <p><label>ホームページ：<input class="form-control" type="text" placeholder="ex.https//../../"></label></p>
                            <p><label>従業員数：<input class="form-control" type="text" placeholder="ex.20名"></label></p>
                            <p><label>営業時間：<input class="form-control" type="text" placeholder="ex.10:00~20:00"></label></p>
                            <p><label>サービス概要：<input class="form-control" type="text" placeholder=""></label></p>
                            <p><label>お支払いに関して：<input class="form-control" type="text" placeholder=""></label></p>
                            <p><label>キャンセル・解約に関して：<input class="form-control" type="text" placeholder=""></label></p>
                            <p><label>セキュリティ対策：<input class="form-control" type="text" placeholder=""></label></p>
                            <p><a href="#" class="modalClose10"><input type="submit" class="heart7" value="確認"></input></a></p>
                        </div>
                    </div>
                </div>
                <div class="bottombox">
                    <div class="leftphotos">
                        <div class="leftphoto">
                            <img src="{% static 'picture/horikita.jpg' %}" class="photo1">
                        </div>
                        <div class="slide">
                            <div class="leftphoto2">
                                <img src="{% static 'picture/kazi.png' %}" class="photo2">
                            </div>
                            <div class="leftphoto3">
                                <img src="{% static 'picture/ikuzi.jpg' %}" class="photo3">
                            </div>
                        </div>
                    </div>
                    <div class="right5partbox">
                        <div class="parah">
                            {% for company_data in company_datas %}
                                <p class="redpara">{{ company_data.pr }}</p>
                            {% endfor %} 
                        </div>
                        <div class="rank">
                            {% for company_data in company_datas %}
                                <div class="yonko">
                                    <div class="niko">
                                        <p class="money"><i class="fas fa-yen-sign"></i> 料金<a href="{% url 'compon' %}" class="yen">{{ company_data.price }}</a></p>
                                        <p class="money"><i class="fas fa-comments"></i> 口コミ<a href="{% url 'comvalua' %}" class="yen">??件</a></p>
                                    </div>
                                    <div class="niko1">
                                        <p class="money"><i class="fas fa-th"></i> ブログ<a href="{% url 'comre' %}" class="yen">??件</a></p>
                                        <p class="money"><i class="fas fa-user"></i> スタッフ<a href="{% url 'complay' %}" class="yen">{{ company_data.staff }}</a></p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="paragraph">
                            <p class="blackpara">【乾かすだけでキマる】にこだわり【本当に必要なメニュー】を見極め【無駄にお金は使わせない】本格派サロン。モダンで落ち着いた空間が心地良さを演出させます。<br>【乾かすだけでキマる】×【無駄にお金は使わせない】必要最低限のメニューで最高のhairを追求する実力派★</p>
                        </div>
                        <div class="starbox">
                            <p class="hyouka"><i class="far fa-star"></i>　総合　<em class="star">★ ★ ★ ★</em></p>
                            <div class="starbox0">
                                <div class="starbox1">
                                    <p class="money"><i class="fas fa-yen-sign"></i>　料金　<em class="star">★ ★ ★</em></p>
                                    <p class="money"><i class="fas fa-pray"></i>　丁寧　<em class="star">★ ★ ★ ★</em></p>
                                </div>
                                <div class="starbox2">
                                    <p class="money"><i class="fas fa-briefcase"></i>　技術　<em class="star">★ ★</em></p>
                                    <p class="money"><i class="fas fa-user-friends"></i>　接客　<em class="star">★ ★ ★ ★ ★</em></p>
                                </div>
                            </div>
                        </div>
                        <div class="planbox">
                            <div class="name-next">
                                <p class="onename">
                                    Casy【カジー】のプラン
                                </p>
                                <p class="allnext">
                                    <em class="pink">▶</em><a href="../company/plan.html" class="allnext1">　一覧へ</a>
                                </p>
                            </div>
                            <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'compon' %}" class="planpara1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！¥1,800〜【水回り掃除+1食】</a></p>
                            <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'compon' %}" class="planpara1">【【U22】若ママ応援プラン育児2時間お任せください！¥3,000〜【育児2時間】</a></p>
                            <p class="planpara"><em class="genrebox">新規</em><a href="{% url 'compon' %}" class="planpara1">【【学生限定】激安部屋掃除プラン(夕飯付き)！¥2,000〜【部屋掃除+1食】</a></p>
                        </div>
                    </div>
                </div>
                <div class="three">
                    <p class="order1">Casy【カジー】の会社情報</p>
                </div>
            </div>
                {% for company_data in company_datas %}
                    <table>
                        <tr>
                            <th>電話番号</th>
                            <td>{{ company_data.tell }}</td>
                        </tr>
                        <tr>
                            <th>本社</th>
                            <td>{{ company_data.address }}</td>
                        </tr>
                        <tr>
                            <th>創業</th>
                            <td>{{ company_data.year }}</td>
                        </tr>
                        <tr>
                            <th>クレジットカード</th>
                            <td>{{ company_data.credit }}</td>
                        </tr>
                        <tr>
                            <th>ホームページ</th>
                            <td>{{ company_data.homepage }}</td>
                        </tr>
                        <tr>
                            <th>従業員数</th>
                            <td>{{ company_data.staff }}</td>
                        </tr>
                        <tr>
                            <th>営業時間</th>
                            <td>{{ company_data.time }}</td>
                        </tr>
                    </table>
                    <div class="three">
                        <p class="order1">サービス概要</p>
                        <p class="order1">{{ company_data.service}}</p>
                    </div>
                    <div class="three">
                        <p class="order1">お支払いに関して</p>
                        <p class="order1">{{ company_data.pay }}</p>
                    </div>
                    <div class="three">
                        <p class="order1">キャンセル・解約に関して</p>
                        <P class="order1">{{ company_data.cancel }}</P>
                    </div>
                    <div class="three">
                        <p class="order1">セキュリティ対策</p>
                        <p class="order1">{{ company_data.security }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}