{% extends "../../user-base.html" %}
{% block body %}
    <div class="flex1">
        <div class="name">
            <div class="named">
                <p class="name0">【会員登録ありがとうございます】</p>
            </div>
            <div class="para">
                会員登録ありがとうございます！<br>
                <br>記入頂いたメールアドレス宛に確認メールを送信しましたので
                確認の方よろしくおねがいします。<br>
                <br>確認が終わりましたら、下記ボタンにて
                ホームへ戻り、ログインしてください。<br><br>
                <br>ログイン完了次第、いつでも当サイトを
                ご利用いただけます。
            </div>
            <div class="action">
                <a href="{% url 'register' %}" class="a">
                    <button type="botton" class="styled">
                        HOME
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}