{% extends "../../../user-base.html" %}
{% block body %}
    <div class="three">
        <p class="order3"><a href="{% url 'notice_c' %}" class="noneorder">店舗からのメッセージ</a></p>
        <p class="order2">DAICOからのメッセージ</p>
        <footer id="navi_footer">
            <a href="#" class="page1">1/10ページ</a>
            <a href="#" class="page3">次へ</a>
        </footer>
    </div>
    <div class="flex1">
    <a href="{% url 'nedetail' %}" class="cuupon">
        <div class="last">
            <div class="name">
                <div class="named">
                    <p class="name0">運営</p>
                    <p class="name3">Daico</p>
                </div>
                <p class="name1"><br>【業界最安値プラン登場の連絡】</p>
                <p class="name2"><br>2019/3/8 10:30</p></p>
            </div>
        </div>
    </a>
    </div>
    <div class="flex1">
        <a href="{% url 'nedetail' %}" class="cuupon">
            <div class="last">
                <div class="name">
                    <div class="named">
                        <p class="name0">運営</p>
                        <p class="name3">Daico</p>
                    </div>
                    <p class="name1"><br>【業界最安値プラン登場の連絡】</p>
                    <p class="name2"><br>2019/3/8 10:30</p></p>
                </div>
            </div>
        </a>
    </div>
    <div class="flex1">
        <a href="{% url 'nedetail' %}" class="cuupon">
            <div class="last">
                <div class="name">
                    <div class="named">
                        <p class="name0">運営</p>
                        <p class="name3">Daico</p>
                    </div>
                    <p class="name1"><br>【業界最安値プラン登場の連絡】</p>
                    <p class="name2"><br>2019/3/8 10:30</p></p>
                </div>
            </div>
        </a>
    </div>
    <div class="flex1">
        <a href="{% url 'nedetail' %}" class="cuupon">
            <div class="last">
                <div class="name">
                    <div class="named">
                        <p class="name0">運営</p>
                        <p class="name3">Daico</p>
                    </div>
                    <p class="name1"><br>【業界最安値プラン登場の連絡】</p>
                    <p class="name2"><br>2019/3/8 10:30</p></p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}