{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <h1><a href="{% url 'notice_c' %}" class="h1-c">店舗からのメッセージ</a>
            DAICOからのメッセージ
            <a href="#" class="page-separate">1/10ページ</a>
            <a href="#" class="page-next">次へ</a>
        </h1>
        <a href="{% url 'nedetail' %}" class="message">
            <div>
                <p class="category-tag">運営</p>
                <div class="">Casy</div>
            </div>
            <p><br>【次回使えるクーポンの紹介】</p>
            <span><br>2019/3/8 10:30</span>
        </a>
        <a href="{% url 'nedetail' %}" class="message">
            <div>
                <p class="category-tag">運営</p>
                <div class="">Casy</div>
            </div>
            <p><br>【次回使えるクーポンの紹介】</p>
            <span><br>2019/3/8 10:30</span>
        </a>
    </div>
{% endblock %}