{% extends "../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="flex1">
        <div class="three1">
            <p class="order1"></p>
        </div>
        <div class="flex01">
            <div class="last01">
                <div class="name01">
                    <div class="named01">
                        <p class="name0">{{ posts.title }}</p>
                    </div>
                    <div class="para01">
                        {% autoescape off %}
                            {{ posts.body | linebreaks }}<br>
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}