{% extends "../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="flex1">
        <div class="three">
            <p class="order1"><em class="suuti">100</em> 件　の記事があります</p>
        </div>
        <div class="page0">
            <div class="page2">
                {% for post in posts %}
                    <a href="{% url 'wdetail' pk=post.id %}" class="blogpage">
                        <div class="part3">
                            <img src="{{ post.image.url }}" class="oko">
                            <div class="kowake">
                                <div class="flexbox">
                                    <p class="humangenre">{{ post.genre }}</p>
                                    <p class="human">{{ post.published }}</p>
                                </div>
                                <p class="title">{{ post.title }}</p>
                                <p class="blog1">{{ post.body }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="page3">
                <p class="category">記事カテゴリ</p>
                    {% for category in categories %}
                        <p class="category1"><a href="" class="category01">{{ category.category }} ({{ post.post_count }})</a></p>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}