{% extends "../../notUser-base.html" %}
{% block body %}
    <div class="flex1">
        <div class="three">
            <p class="order1"><em class="suuti">100</em> 件　の記事があります</p>
        </div>
        <div class="page0">
            <div class="page2">
                <a href="{% url 'wdetail' %}" class="blogpage">
                    <div class="part3">
                        <img src="../../picture/oko.jpg" class="oko">
                        <div class="kowake">
                            <div class="flexbox">
                                <p class="humangenre">家事代行</p>
                                <p class="human">投稿者 : 山下智久</p>
                            </div>
                            <p class="title">何でも取れるシミ抜き剤</p>
                            <p class="blog1">今日は店舗メンバーみんなへの研修を行いました！</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'wdetail' %}" class="blogpage">
                    <div class="part3">
                        <img src="../../picture/oko.jpg" class="oko">
                        <div class="kowake">
                            <div class="flexbox">
                                <p class="humangenre">家事代行</p>
                                <p class="human">投稿者 : 山下智久</p>
                            </div>
                            <p class="title">何でも取れるシミ抜き剤</p>
                            <p class="blog1">今日は店舗メンバーみんなへの研修を行いました！</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'wdetail' %}" class="blogpage">
                    <div class="part3">
                        <img src="../../picture/oko.jpg" class="oko">
                        <div class="kowake">
                            <div class="flexbox">
                                <p class="humangenre">家事代行</p>
                                <p class="human">投稿者 : 山下智久</p>
                            </div>
                            <p class="title">何でも取れるシミ抜き剤</p>
                            <p class="blog1">今日は店舗メンバーみんなへの研修を行いました！</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="page3">
                <p class="category">記事カテゴリ</p>
                <p class="category1"><a href="" class="category01">家事裏技 (12)</a></p>
                <p class="category1"><a href="" class="category01">育児裏技 (7)</a></p>
                <p class="category1"><a href="" class="category01">家事裏技 (12)</a></p>
                <p class="category1"><a href="" class="category01">育児裏技 (7)</a></p>
                <p class="category1"><a href="" class="category01">家事裏技 (12)</a></p>
                <p class="category1"><a href="" class="category01">育児裏技 (7)</a></p>
                <p class="category">スタッフ</p>
                <p class="category1"><a href="" class="category01">山下智久 (12)</a></p>
                <p class="category1"><a href="" class="category01">北川景子 (7)</a></p>
                <p class="category1"><a href="" class="category01">佐藤勝利 (12)</a></p>
                <p class="category1"><a href="" class="category01">堀北真希 (7)</a></p>
            </div>
        </div>
    </div>
{% endblock %}