{% extends "../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="flex1">
        <a href="{% url 'publish' %}" class="cuupon">
            <div class="last">
                <div class="name">
                    <p class="name1"><br>掲載企業一覧</p>
                </div>
            </div>
        </a>
    </div>
    <div class="flex1">
        <a href="{% url 'guest' %}" class="cuupon">
            <div class="last">
                <div class="name">
                    <p class="name1"><br>お客様情報一覧</p>
                </div>
            </div>
        </a>
    </div>
    <div class="flex1">
        <a href="{% url 'writer' pk=post.pk %}" class="cuupon">
            <div class="last">
                <div class="name">
                    <p class="name1"><br>記事</p>
                </div>
            </div>
        </a>
    </div>
{% endblock %}