{% extends "../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="flex1">
        <div class="three">
            <p class="order1">お客様情報</p>
        </div>
        <table>
            <tr>
                <th>名前</th>
                <td>　佐々木希</td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>　03-1508-0334</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>　</td>
            </tr>
            <tr>
                <th>住所</th>
                <td>　東京都渋谷区初台3−22−9</td>
            </tr>
        </table>
    </div>
{% endblock %}