{% extends "../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <h1 class="order1">お客様情報</h1>
        <table>
            <tr>
                <th>名前</th>
                <td>　佐々木希</td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>　03-1508-0334</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>　takkun@gmail.com</td>
            </tr>
            <tr>
                <th>住所</th>
                <td>　ハワイ島ハワイ市ハワイ4-90-82</td>
            </tr>
        </table>
    </div>
{% endblock %}