{% extends "../../engine-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
            <h1>お客様情報一覧</h1>
            <div class="coupon">
                <div class="genre">
                    <div>
                        <div>
                            <div><em>名前</em> : 堀北真希</div>
                            <div><em>電話番号</em> : 03-1508-0334</div>
                            <div><em>メールアドレス</em> : come-on@gmail.co.jp</div>
                        </div>
                    </div>
                </div>
                <div class="coupon-button">
                    <a href="{% url 'gdetail' %}"><button class="pink-Button">詳細</button></a>
                </div>
            </div>
            <div class="coupon">
                <div class="genre">
                    <div>
                        <div>
                            <div><em>名前</em> : 堀北真希</div>
                            <div><em>電話番号</em> : 03-1508-0334</div>
                            <div><em>メールアドレス</em> : come-on@gmail.co.jp</div>
                        </div>
                    </div>
                </div>
                <div class="coupon-button">
                    <a href="{% url 'gdetail' %}"><button class="pink-Button">詳細</button></a>
                </div>
            </div>
        </div>
{% endblock %}