{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="allbox">
        <div class="fade" id="fade">
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/1.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/2.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/3.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/4.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/5.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/6.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/7.jpg" alt=""></div>
            <div class="blogwrite"><img src="https://www.jungleocean.com/demo/jquery-slick/images/8.jpg" alt=""></div>
        </div>
        <div class="topbox">
            <div class="leftbox">
                <div class="erea">
                    <p class="sibuya">渋谷　>　道玄坂・明治通り</p>
                </div>
                <div class="storename">
                    <p class="casy"><a href="{% url 'enterprise' %}" class="casy1">Casy 【カジー】</a></p>
                </div>
                <div class="storetype">
                    <p class="strongpoint">即時予約OK!</p>
                    <p class="strongpoint1">ポイント加盟店</p>
                    <p class="strongpoint2">メンズにもオススメ</p>
                </div>
            </div>
            <div class="rightbox">
                <div class="bottonbox">
                    <p class="favoriteadd"><button type="button"class="heart"><i class="far fa-heart"></i>  お気に入り</button></p>
                </div>
                <div class="bottonbox">
                    <p class="favoriteadd"><a href="{% url 'reserve' %}"><button type="button"class="heart8">予約・日時指定へ</button></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex1">
        <div class="last">
            <div class="info">
                <nav class="daicomenu">
                    <ul>
                        <li class="li1"><a href="{% url 'enterprise' %}" class="lih2"><i class="fas fa-building"></i> 会社詳細</a></li>
                        <li><a href="{% url 'plan' %}" class="lih1"><i class="fas fa-scroll"></i> プラン一覧</a></li>
                        <li><a href="{% url 'staff' %}" class="lih2"><i class="fas fa-user"></i> スタッフ一覧</a></li>
                        <li><a href="{% url 'review' %}" class="lih2"><i class="fas fa-comments"></i> 口コミ</a></li>
                        <li><a href="{% url 'blog' %}" class="lih2"><i class="fas fa-pencil-alt"></i> ブログ</a></li>
                    </ul>
                </nav>
                <div class="three">
                    <p class="order1">クーポン<em class="suuti">15</em> 件　メニュー<em class="suuti">10</em> 件　あります</p>
                </div>
                <div class="sortflex">
                    <div class="natural">全て</div>
                    <a href="../company/homehelp.html" class="onehover"><div class="recommend">家事代行</div></a>
                    <a href="../company/baby.html" class="onehover"><div class="review">育児代行</div></a>
                    <a href="../company/come.html" class="onehover"><div class="cheap">お迎え代行</div></a>
                    <a href="../company/walk.html" class="onehover"><div class="high">散歩代行</div></a>
                </div>
                <div class="three">
                    <p class="order1">Casyのクーポン</p>
                </div>
                <div class="flex10">
                    <div class="last">
                        <div class="info2">
                            <div class="sinki">
                                新規
                            </div>
                            <div class="gene">
                                <p class="red">育児代行</p>
                                <p class="serihu1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</p>
                                <div class="zyouken">
                                    <img src="{% static 'picture/ikuzi.jpg' %}" class="ikuzi">
                                    <p class="simekiri">
                                        プロの掃除機械や技術を持っていきます!!<br><br>
                                        <be></be><br><em class="meizi">利用条件</em> : 初回利用のみ
                                        <br><em class="meizi">有効期限</em> : 2019年3月末まで
                                    </p>
                                </div>
                            </div>
                            <div class="part">
                                <p class="serihu3">¥ 3,000</p>
                            </div>
                            <div class="buton">
                                <a href="{% url 'rdate' %}" class="click"><button type="button" class="buton1">このクーポンを<br>利用して予約へ進む</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex10">
                    <div class="last">
                        <div class="info2">
                            <div class="sinki2">
                                再利用
                            </div>
                            <div class="gene">
                                <p class="red">家事代行</p>
                                <p class="serihu1">【女性スタッフ】激安風呂掃除プラン(夕飯付き)！</p>
                                <div class="zyouken">
                                    <img src="{% static 'picture/ikuzi.jpg' %}" class="ikuzi">
                                    <p class="simekiri">
                                        プロの掃除機械や技術を持っていきます!!<br><br>
                                        <br><em class="meizi">利用条件 </em>: 2回目以降のみ
                                        <br><em class="meizi">有効期限 </em>: 2019年3月末まで
                                    </p>
                                </div>
                            </div>
                            <div class="part">
                                <p class="serihu3">¥ 3,000</p>
                            </div>
                                <div class="buton6">
                                    <a href="{% url 'rdate' %}" class="click"><button type="button" class="buton1">このクーポンを<br>利用して予約へ進む</button></a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="three">
                    <p class="order1">Casyのメニュー</a></p>
                </div>
                <div class="three2">
                    <p class="order2">家事代行</p>
                    <div class="matome">
                        <div class="menu1">
                            <p class="select">水回りの清掃</p>
                            バス・トイレ・キッチンのみ
                        </div>
                        <div class="menu2">
                            <p class="select">
                                ¥2,000
                            </p>
                        </div>
                        <div class="menu3">
                                <div class="buton2">
                                    <a href="{% url 'rdate' %}" class="click"><button type="button" class="buton3">予約へ進む</button></a>
                                </div>
                        </div>
                    </div>
                    <p class="order2">育児代行</p>
                    <div class="matome">
                        <div class="menu1">
                            <p class="select">水回りの清掃</p>
                            バス・トイレ・キッチンのみ
                        </div>
                        <div class="menu2">
                            <p class="select">
                                ¥2,000
                            </p>
                        </div>
                        <div class="menu3">
                            <div class="buton2">
                                <button type="button" class="buton3"><a href="{% url 'rdate' %}" class="click">予約へ進む</a></button>
                            </div>
                        </div>
                    </div>
                    <p class="order2">話し相手代行</p>
                    <div class="matome">
                        <div class="menu1">
                            <p class="select">水回りの清掃</p>
                            バス・トイレ・キッチンのみ
                        </div>
                        <div class="menu2">
                            <p class="select">
                                ¥2,000
                            </p>
                        </div>
                        <div class="menu3">
                            <div class="buton2">
                                <button type="button" class="buton3"><a href="{% url 'rdate' %}" class="click">予約へ進む</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}