{% extends "../../../user-base.html" %}
{% block body %}
{% load static %}
    <div class="page">
        <h1>非表示リスト</h1>
        <div class="order">
            <span>
                <p><em>注文日</em><br>2019年3月10日</p>
                <p><em>実行日</em><br>2019年3月15日</p>
                <p><em>合計</em><br>¥ 4,500</p>
                <p class="address"><em>場所</em><br>東京都三鷹市下連雀3丁目２２−８</p>
                <p><a href="{% url 'odetail' %}">注文詳細</a></p>
            </span>
            <div class="order-bottom">
                <img src="{% static 'picture/ikuzi.jpg' %}">
                <span>
                    <p>会社 : <a href="{% url 'enterprise' %}">Casy</a></p>
                    <p><a href="{% url 'plan' %}">激安風呂掃除プラン(夕飯付き)</a></p>
                    <p>¥ 4,000</p>
                    <a href="{% url 'reserve' %}"><button class="pink-Button">再度注文</button></a>
                </span>
                <div class="button-box">
                    <a href="{% url 'review' %}"><button><i class="far fa-comments"></i> 口コミを書く</button></a>
                    <a href="#modal_01"><button>注文を非表示にする</button></a>
                    <a href="#modal01"><button><i class="far fa-heart"></i> お気に入りに追加</button></a>
                </div>
                <!-- <div class="modal_00" id="modal_01">
                    モーダルウィンドウが開いている時のオーバーレイ
                    <div class="overLay_0 modalClose_0"></div>
                    モーダルウィンドウの中身
                    <div class="inner_0">
                        <div class="inner_p_0">
                            <P>非表示リストに追加しました。</P>
                            <a href="" class="modalClose_1">Close</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="order">
            <span>
                <p><em>注文日</em><br>2019年3月10日</p>
                <p><em>実行日</em><br>2019年3月15日</p>
                <p><em>合計</em><br>¥ 4,500</p>
                <p class="address"><em>場所</em><br>東京都三鷹市下連雀3丁目２２−８</p>
                <p><a href="{% url 'odetail' %}">注文詳細</a></p>
            </span>
            <div class="order-bottom">
                <img src="{% static 'picture/ikuzi.jpg' %}">
                <span>
                    <p>会社 : <a href="{% url 'enterprise' %}">Casy</a></p>
                    <p><a href="{% url 'plan' %}">激安風呂掃除プラン(夕飯付き)</a></p>
                    <p>¥ 4,000</p>
                    <a href="{% url 'reserve' %}"><button class="pink-Button">再度注文</button></a>
                </span>
                <div class="button-box">
                    <a href="{% url 'review' %}"><button><i class="far fa-comments"></i> 口コミを書く</button></a>
                    <a href="#modal_01"><button>注文を非表示にする</button></a>
                    <a href="#modal01"><button><i class="far fa-heart"></i> お気に入りに追加</button></a>
                </div>
                <!-- <div class="modal_00" id="modal_01">
                    モーダルウィンドウが開いている時のオーバーレイ
                    <div class="overLay_0 modalClose_0"></div>
                    モーダルウィンドウの中身
                    <div class="inner_0">
                        <div class="inner_p_0">
                            <P>非表示リストに追加しました。</P>
                            <a href="" class="modalClose_1">Close</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>    
        <div class="center-button">
            <a href="{% url 'index' %}"><button class="pink-Button">HOME</button></a>
        </div>
    </div>
{% endblock %}